.aqua-compare-search
	display table
	margin 70px auto 20px
	position relative
	
	.form-control
		width 240px
		border none
		border-radius 0
		border-bottom 2px solid #2673B5
		box-shadow none
		padding 5px 30px
		background-color transparent
		background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 500 500'><path fill='%232673B5' stroke='%232673B5' stroke-miterlimit='10' d='M218.2,23.8c7.1,1.1,14.2,2.1,21.3,3.4 c71,13.4,128.4,72,139.8,143.4c8.8,55.1-5.7,103.9-41.9,146.2c-0.8,0.9-1.5,1.8-2.4,2.9c1.2,1.3,2.3,2.4,3.4,3.5 c41.5,41.6,83,83.1,124.4,124.7c8.3,8.3,8.3,19.3,0,25.8c-1.7,1.3-3.7,2.2-5.5,3.3c-2.4,0-4.7,0-7.1,0c-3.8-2.7-8-5-11.3-8.2 c-41.4-41.2-82.7-82.5-124-123.8c-1.1-1.1-2.2-2.4-3.4-3.9c-1.5,1-2.7,1.7-3.9,2.6c-68.9,49.1-163.6,42-224.2-16.8 C17,262.4,10.7,159.5,69.5,88.2c31.2-37.8,71.7-59,120.6-63.7c0.8-0.1,1.6-0.5,2.4-0.7C201.1,23.8,209.6,23.8,218.2,23.8z  M350,200.1c0-79.5-64.8-144.6-144.3-144.4c-81.4,0.1-142.8,66-144.4,141.2c-1.7,79.3,62.2,147.4,144.3,147.5 C285,344.5,349.9,279.7,350,200.1z'/></svg>") calc(100% - 8px) 8px no-repeat, url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 500 500'><path fill='%230E65AD' d='M262.3,25.6c7.5,1.4,15.1,2.6,22.6,4.3c59.4,13.6,105.9,66.4,112.7,126.6c3,26.6-3.1,51.3-12.2,75.7 c-16.2,43.3-37.7,84.1-61.3,123.8c-23.2,39-47.9,77.1-72,115.6c-0.5,0.8-1.2,1.6-2.1,2.8c-5-7.5-9.7-14.7-14.4-21.8 c-35.4-53.7-68.5-108.6-97.1-166.3c-12.6-25.4-24.2-51.2-31.6-78.6c-12.5-46.5-2-88.3,27-125.6c25.7-33,60.3-51.3,102-55.7 c0.7-0.1,1.3-0.5,1.9-0.7C246,25.6,254.1,25.6,262.3,25.6z M250.2,96.2c-42.5,0-77.1,34.4-77.2,76.7c0,42.5,34.4,77.2,76.7,77.2 c42.7,0.1,77.4-34.4,77.4-76.9C327.1,130.8,292.6,96.2,250.2,96.2z'/></svg>") 8px 8px no-repeat
		
	.close
		position absolute
		right 0
		top 0
		opacity 1
		padding 8px
		color #ABABAB
		font-size 16px
		background-color white
		
	.close:hover
		background-color #EFEFEF
	
	#searchResults
		width 240px
		padding 0 15px
		z-index 999
		position absolute
		border 1px solid #DDD
		background-color white
		
		.hellip
			border-bottom 1px solid #DDD
			padding 5px 15px
			color #0E65AD
			cursor pointer
		
		.hellip:hover
			background-color #EFEFEF
		
		.hellip:last-child
			border-bottom none

.aqua-compare-search + div[style]
	height calc(100% - 124px) !important

.aqua-compare-container
	display table
	max-width 100%
	height 100%
	margin auto
	overflow auto
	white-space nowrap
	
.aqua-compare-item
	height calc(100vh - 140px)
	margin 0 15px 15px 0
	width 240px
	white-space normal
	vertical-align top
	display inline-block
	background-color #F7F7F7
	border 1px solid #DDD
	// box-shadow 2px 6px 5px 1px #c6c6c6
	
	.parameter-section
		width 100%
		
		.latest-data-title
			color #0e65ad
			padding 5px 0
			font-size 14px
			font-weight 700
			text-align center
			background-color #f7f7f7
			border-top 1px solid #ddd
			border-bottom 1px solid #ddd
		
		.parameter-container
			margin 15px
			
			.param-container
				margin-bottom 10px
				display flex
				align-items center
				width 100% 
				
				.param-text, .param-value
					font-size 14px
					color #666
					float left

				.param-value-unit
					width 60%
					color #666
					
					.param-value
						min-width 70px
					
				.param-text
					width 40%
					
				.param-value:before
					content ':'
					margin-right 10px


.aqua-compare-item:first-child
	margin-left 15px
	
.aqua-location-time-container
	background-color #F7F7F7
	padding 15px 0

	.location-container, .time-container, .location-search-container
		display inline-block
		width 100%

		.location-name
			width calc(100% - 75px)
			padding 0
			float left
			font-size 16px
			font-weight 600
			color #0E65AD
			line-height 1.2
			border none
			outline none
			background-color transparent
		
		.close
			position absolute
			right 0
			top 0
			opacity 1
			padding 4px 6px
			color #DDD
			font-size 16px
			outline none
			
		.close:hover
			color #ABABAB

		.time
			width calc(100% - 60px)
			float left
			font-size 12px
			font-weight 600
			color #999
			line-height 1.5

	.data-source
		font-size 12px
		color #999
		padding-bottom 2px
		margin 0 15px 10px 60px
		border-bottom 1px solid #DDD
		
	.compare-btn-container
		.compare-btn
			margin 10px auto 10px 60px
			display table

.aqua-properties-container
	margin-left 15px

	.aqi-container
		display flex
		align-items center
		padding 10px 0

		.aqi-value
			font-size 28px
			font-weight lighter
			color #666
			margin-right 10px

		.aqi-status
			.aqi-text, .status
				font-size 12px
				color #666

			.status.aqi-1
				color $color-1

			.status.aqi-2
				color $color-2

			.status.aqi-3
				color $color-3
				text-shadow 1px 1px 2px #929206

			.status.aqi-4
				color $color-4

			.status.aqi-5
				color $color-5

			.status.aqi-6
				color $color-6

		.icon
			width 70px

		.icon:before
			width 60px
			height 60px
			float left

.aqua-graph-container
	height 80px
	background-color transparent

	.highcharts-container
		float left
		
	.highcharts-background
		fill none
		
	.hourly-aqi-na-error
		text-align center
		padding-top 30px
		color red

	.graph-right-item
		width 60px
		float right
		font-size 11px
		margin-right 10px

		.text
			display inline-block
			width 30px
			margin 40px 0 0 0
			text-align center

			.label
				font-size 80%
				display block
				text-align center
				color #666
				font-weight normal

.aqua-graph-history-container, .graph-rain-history-container
	padding 10px 10px 5px 15px

	.graph-item
		height 65px
		width 100%
		display table

		.highcharts-container
			float left
			
			.highcharts-background
				fill none

		.graph-left-item, .graph-right-item
			width 30px
			float left
			font-size 11px

			.text
				margin 10px 0

				sub
					font-size 60%

		.graph-right-item
			width 60px
			float right

			.text
				display inline-block
				width 30px
				margin 25px 0 0 0
				text-align center

				.label
					font-size 80%
					display block
					text-align center
					color #666
					font-weight normal

	.graph-item:last-child
		border-bottom none

.aqua-panel-container
	display table
	width 100%
	
	.panel-title
		color #0E65AD
		padding 5px 0
		font-size 14px
		font-weight bold
		text-align center
		background-color #F7F7F7
		border-top 1px solid #DDD
		border-bottom 1px solid #DDD

	.panel-list
		padding 0
		margin-bottom 0
		list-style none

		.panel-item
			display flex
			align-items center

			.panel-text
				font-size 14px
				padding-right 15px
				color #666

			.icon:before
				width 40px
				height 40px
				margin 5px 8px 5px

.icon
	width 60px
	float left
	color #0E65AD

.icon:before
	content ''
	width 20px
	height 20px
	margin auto
	display table

.icon.location:before
	background url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%230E65AD' d='M262.3,25.6c7.5,1.4,15.1,2.6,22.6,4.3c59.4,13.6,105.9,66.4,112.7,126.6c3,26.6-3.1,51.3-12.2,75.7 c-16.2,43.3-37.7,84.1-61.3,123.8c-23.2,39-47.9,77.1-72,115.6c-0.5,0.8-1.2,1.6-2.1,2.8c-5-7.5-9.7-14.7-14.4-21.8 c-35.4-53.7-68.5-108.6-97.1-166.3c-12.6-25.4-24.2-51.2-31.6-78.6c-12.5-46.5-2-88.3,27-125.6c25.7-33,60.3-51.3,102-55.7 c0.7-0.1,1.3-0.5,1.9-0.7C246,25.6,254.1,25.6,262.3,25.6z M250.2,96.2c-42.5,0-77.1,34.4-77.2,76.7c0,42.5,34.4,77.2,76.7,77.2 c42.7,0.1,77.4-34.4,77.4-76.9C327.1,130.8,292.6,96.2,250.2,96.2z'/></svg>")

.icon.clock:before
	width 16px
	background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97.16 97.16' style='enable-background:new 0 0 97.16 97.16;'><path fill='%230E65AD' d='M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823 c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832 c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z'/></svg>") no-repeat

.icon.clock.offline:before
	background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 97.16 97.16' style='enable-background:new 0 0 97.16 97.16;'><path fill='%23FF1919' d='M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823 c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832 c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z'/></svg>") no-repeat

.icon.aqi-1:before, .icon.aqi-2:before, .icon.aqi-3:before, .icon.aqi-4:before, .icon.aqi-5:before, .icon.aqi-6:before
	background $aqi-logo-1

.icon.aqi-2:before
	background $aqi-logo-2

.icon.aqi-3:before
	background $aqi-logo-3

.icon.aqi-4:before
	background $aqi-logo-4

.icon.aqi-5:before
	background $aqi-logo-5

.icon.aqi-6:before
	background $aqi-logo-6
		
.sorting-item
	background-color #F7F7F7
	border 1px solid #DDD
	cursor col-resize
	opacity 0.8