#mapView
	width calc(100% - 300px)
	float left
	position absolute !important
	background-color #A3CDFF

#panelView
	position absolute
	right 0
	box-shadow 0px 0px 5px 2px #999

#panelView:before
	content ''
	height 50px
	width 300px
	position fixed
	top 0
	right 0
	box-shadow 0px -2px 5px 2px #999

#panelView, #aquaLeftAnalyticsPanel
	width 300px
	height calc(100% - 50px)
	margin-top 50px
	float left
	background-color #FFFFFF

	.aqua-location-time-container
		background-color #F7F7F7
		padding 15px 10px

		.location-container, .time-container, .location-search-container
			width 100%
			position relative

			.location-name
				width calc(100% - 60px)
				padding 0 0 0 10px
				float left
				font-size 16px
				font-weight 600
				color #0E65AD
				line-height 1.2
				border none
				outline none
				background-color transparent

			.time
				width calc(100% - 120px)
				float left
				font-size 12px
				font-weight 600
				color #999
				line-height 1.5
				padding 0 0 0 10px
			
			.compare-btn-container
				float right
				padding 2px 5px
				margin-right 5px
				background-color #EDEDED
				display flex
				align-items center
				
				.compare-btn
					font-weight normal
					color #666
					margin 0
					float left
					cursor pointer
					
				.custom-checkbox
					border 1px solid #0E65AD
					height 12px
					width 12px
					float left
					margin 4px 5px 4px 2px
					
				input[type='checkbox']#check_compare
					display none
					
				input[type='checkbox']#check_compare:checked + .compare-btn .custom-checkbox:after
					content '✔'
					color #F6851F
					display block
					line-height 0.8
		
			.location-search
				width calc(100% - 75px)
				float left
				font-size 14px
				position relative

				input.form-control
					padding 0 20px 0 10px
					margin-right 15px
					line-height 2
					height auto
					color #999
					box-shadow none
					background transparent url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='12px' height='12px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%239C9C9C' stroke='%239C9C9C' stroke-miterlimit='10' d='M218.2,23.8c7.1,1.1,14.2,2.1,21.3,3.4 c71,13.4,128.4,72,139.8,143.4c8.8,55.1-5.7,103.9-41.9,146.2c-0.8,0.9-1.5,1.8-2.4,2.9c1.2,1.3,2.3,2.4,3.4,3.5 c41.5,41.6,83,83.1,124.4,124.7c8.3,8.3,8.3,19.3,0,25.8c-1.7,1.3-3.7,2.2-5.5,3.3c-2.4,0-4.7,0-7.1,0c-3.8-2.7-8-5-11.3-8.2 c-41.4-41.2-82.7-82.5-124-123.8c-1.1-1.1-2.2-2.4-3.4-3.9c-1.5,1-2.7,1.7-3.9,2.6c-68.9,49.1-163.6,42-224.2-16.8 C17,262.4,10.7,159.5,69.5,88.2c31.2-37.8,71.7-59,120.6-63.7c0.8-0.1,1.6-0.5,2.4-0.7C201.1,23.8,209.6,23.8,218.2,23.8z  M350,200.1c0-79.5-64.8-144.6-144.3-144.4c-81.4,0.1-142.8,66-144.4,141.2c-1.7,79.3,62.2,147.4,144.3,147.5 C285,344.5,349.9,279.7,350,200.1z'/></svg>") no-repeat calc(100% - 5px)

				input.form-control:focus, input.form-control:not(:placeholder-shown)
					background transparent

				input.form-control + .close
					opacity 0
					position absolute
					right 5px
					top 5px
					font-size 20px

				input.form-control:focus + .close, input.form-control:not(:placeholder-shown) + .close
					opacity 0.2

				input.form-control:focus + .close:hover, input.form-control:not(:placeholder-shown) + .close:hover
					opacity 0.5

			#searchResults
				width 100%
				max-height 240px
				padding 0
				margin-bottom 0
				overflow auto
				list-style none
				background-color white
				position absolute
				z-index 9
				border 1px solid #DDD
				border-top none
				border-radius 4px

				li
					color #666
					width 100%
					line-height 1.7
					padding 4px 30px 4px 8px
					border-bottom 1px solid #DDD

					.btn.pull-right
						position absolute
						outline none
						right 4px
						margin 4px 0
						border-radius 10px
						line-height 1
						border none

				li:last-child
					border-bottom none

			.location-search-result
				width calc(100% - 45px) !important
				font-size 14px
				top 20px
				left 40px

				li
					cursor pointer
					padding 4px 8px !important

				li:hover, li.active
					background-color #F7F7F7

				li:first-child
					border-top 1px solid #DDD

			.icon.search
				cursor pointer

		.location-search-container
			.icon
				padding 5px 0

		.data-source
			font-size 12px
			color #999
			padding-bottom 2px
			margin 0 5px 10px 40px
			border-bottom 1px solid #DDD

	.properties-container
		margin 10px 15px 10px 30px

		.aqi-container
			display flex
			align-items center
			padding 10px 0

			.aqi-value
				font-size 32px
				font-weight lighter
				color #666

			.aqi-status
				.aqi-text, .status
					font-size 12px
					color #666

				.status.aqi-1
					color $color-1

				.status.aqi-2
					color $color-2

				.status.aqi-3
					color $color-3
					text-shadow 1px 1px 2px #929206

				.status.aqi-4
					color $color-4

				.status.aqi-5
					color $color-5

				.status.aqi-6
					color $color-6

			.icon
				width 70px

			.icon:before
				width 60px
				height 60px
				float left
	
	.aqua-parameter-section
		width 100%
		
		.latest-data-title
			color #0e65ad
			padding 5px 0
			font-size 14px
			font-weight 700
			text-align center
			background-color #f7f7f7
			border-top 1px solid #ddd
			border-bottom 1px solid #ddd
		
		.parameter-container
			margin 15px 15px 0 45px
			
			.param-container
				margin-bottom 10px
				display table
				width 100%
				
				.param-text, .param-value
					font-size 14px
					color #666
					float left

				.param-text
					width calc(100% - 145px)

				.param-value
					width 120px

				.param-value:before
					content ':'
					margin-right 10px

		.param-error
			padding-bottom 30px
			
	.temperature-container, .humidity-container, .rainfall-container, .param-container
		margin-bottom 10px
		display table
		width 100%

		.parameter-text, .parameter-value, .parameter-unit
			font-size 14px
			color #666
			float left

		.parameter-text
			width calc(100% - 140px)

		.parameter-value
			width 60px
			text-align center
			
		.parameter-unit
			width 60px

		.parameter-text:after
			content ':'
			margin-right 10px
			float right
			
		.icon
			width 30px

		.icon:before
			float left
	
	.rainfall-container
		width 100%
		
		.property-text
			width calc(100% - 110px)
			
		.avg-min-max
			margin 10px auto 10px
			
	.compare-container, .min-max-container
		padding 20px 0

		.compare-item, .min-container, .max-container
			margin-bottom 10px
			display table
			width 100%

			.item-text, .item-value
				font-size 16px
				color #666
				float left

			.item-text
				width calc(100% - 175px)

			.item-value
				width 80px

				sub
					bottom 0
					font-size 10px
					color #666

			.item-value:before
				content '-'
				color #666
				font-weight bold
				margin-right 10px

			.item-value.aqi-1
				color $color-1

			.item-value.aqi-2
				color $color-2

			.item-value.aqi-3
				color $color-3

			.item-value.aqi-4
				color $color-4

			.item-value.aqi-5
				color $color-5

			.item-value.aqi-6
				color $color-6

			.item-remove
				color #DDD
				width 20px
				float left
				cursor pointer
				text-align center

			.icon
				width 60px
				font-size 16px
				text-align center

			.icon:before
				height auto

		.compare-item:last-child
			margin-bottom 0
		
		.compare-item:hover
			.item-remove
				color #999

	.min-max-container
		margin 20px
		padding 5px
		display table
		border-radius 5px
		border 1px solid #DDD
		width calc(100% - 40px)

		.min-max-wrapper
			width 100%
			padding 5px
			display table
			border-radius 5px
			background-color #FAFAFA

		.min-container, .max-container
			width 50%
			float left
			margin-bottom 0
			display inline-block

			.item-text, .item-value
				float none
				width 100%
				text-align center

			.item-text
				font-size 14px

			.item-value:before
				content ''
				margin-right 0

			.item-label
				color white
				display table
				margin 10px auto
				padding 8px 10px
				background-color #FFBC54

	.graph-container, .graph-container-main
		height 80px

		.highcharts-container
			float left

		.graph-right-item
			width 58px
			float left
			font-size 11px

			.text
				display inline-block
				width 50%
				margin 40px 0 0 0
				text-align center

				.label
					font-size 80%
					display block
					text-align center
					color #666
					font-weight normal

	.graph-container-main
		.graph-right-item
			.text
				margin 20px 0 0 0

	.compare-graph-container
		margin auto
		height 150px
		width calc(100% - 40px)

	.details-link
		width auto
		margin 0 auto 15px auto
		padding 5px 15px 5px 5px
		color white
		font-size 14px
		display table
		border-radius 20px
		background-color #F6851F
		
		svg
			width 20px
			height 20px
			float left
			margin-right 10px

	.aqua-panel-container
		display table
		width 100%
		height 100%
		
		.panel-title
			color #0E65AD
			padding 5px 0
			font-size 14px
			font-weight bold
			text-align center
			background-color #F7F7F7
			border-top 1px solid #DDD
			border-bottom 1px solid #DDD

		.panel-list
			padding 0
			margin 15px 0
			list-style none

			.panel-item
				display flex
				align-items flex-start
				margin 0 15px 10px

				.panel-text
					font-size 14px
					padding 0 0 0 15px
					color #666

				.icon:before
					width 30px
					height 30px
					margin 0

	.icon
		width 30px
		float left
		color #0E65AD
	
	.icon-rainfall
		width 80px
		float left
		color #0E65AD
		
	.icon-rainfall:before
		content ''
		width 40px
		height 40px
		margin auto
		display table

	.icon:before
		content ''
		width 20px
		height 20px
		margin auto
		display table

	.icon.location:before
		background url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%230E65AD' d='M262.3,25.6c7.5,1.4,15.1,2.6,22.6,4.3c59.4,13.6,105.9,66.4,112.7,126.6c3,26.6-3.1,51.3-12.2,75.7 c-16.2,43.3-37.7,84.1-61.3,123.8c-23.2,39-47.9,77.1-72,115.6c-0.5,0.8-1.2,1.6-2.1,2.8c-5-7.5-9.7-14.7-14.4-21.8 c-35.4-53.7-68.5-108.6-97.1-166.3c-12.6-25.4-24.2-51.2-31.6-78.6c-12.5-46.5-2-88.3,27-125.6c25.7-33,60.3-51.3,102-55.7 c0.7-0.1,1.3-0.5,1.9-0.7C246,25.6,254.1,25.6,262.3,25.6z M250.2,96.2c-42.5,0-77.1,34.4-77.2,76.7c0,42.5,34.4,77.2,76.7,77.2 c42.7,0.1,77.4-34.4,77.4-76.9C327.1,130.8,292.6,96.2,250.2,96.2z'/></svg>") no-repeat

	.icon.search:before
		background url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%239C9C9C' stroke='%239C9C9C' stroke-miterlimit='10' d='M218.2,23.8c7.1,1.1,14.2,2.1,21.3,3.4 c71,13.4,128.4,72,139.8,143.4c8.8,55.1-5.7,103.9-41.9,146.2c-0.8,0.9-1.5,1.8-2.4,2.9c1.2,1.3,2.3,2.4,3.4,3.5 c41.5,41.6,83,83.1,124.4,124.7c8.3,8.3,8.3,19.3,0,25.8c-1.7,1.3-3.7,2.2-5.5,3.3c-2.4,0-4.7,0-7.1,0c-3.8-2.7-8-5-11.3-8.2 c-41.4-41.2-82.7-82.5-124-123.8c-1.1-1.1-2.2-2.4-3.4-3.9c-1.5,1-2.7,1.7-3.9,2.6c-68.9,49.1-163.6,42-224.2-16.8 C17,262.4,10.7,159.5,69.5,88.2c31.2-37.8,71.7-59,120.6-63.7c0.8-0.1,1.6-0.5,2.4-0.7C201.1,23.8,209.6,23.8,218.2,23.8z  M350,200.1c0-79.5-64.8-144.6-144.3-144.4c-81.4,0.1-142.8,66-144.4,141.2c-1.7,79.3,62.2,147.4,144.3,147.5 C285,344.5,349.9,279.7,350,200.1z'/></svg>") no-repeat

	.icon.clock:before
		width 16px
		background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 97.16 97.16' style='enable-background:new 0 0 97.16 97.16;'><path fill='%230E65AD' d='M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823 c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832 c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z'/></svg>") no-repeat

	.icon.clock.offline:before
		background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 97.16 97.16' style='enable-background:new 0 0 97.16 97.16;'><path fill='%23FF1919' d='M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823 c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832 c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z'/></svg>") no-repeat

	.icon.aqi-1:before
		background $aqi-logo-1

	.icon.aqi-2:before
		background $aqi-logo-2

	.icon.aqi-3:before
		background $aqi-logo-3

	.icon.aqi-4:before
		background $aqi-logo-4

	.icon.aqi-5:before
		background $aqi-logo-5

	.icon.aqi-6:before
		background $aqi-logo-6

	.icon.temperature:before
		background url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%23DD2C2C' d='M260.5,52.1c2.9,2.5,3.6,5.6,3.5,9.4c-0.2,13.7-0.1,27.5-0.1,41.2c0,1.5,0.4,3.4-0.3,4.4 c-1.4,1.8-3.4,3.9-5.4,4.5c-2.9,0.7-5.2-1.4-5.8-4.4c-0.4-2-0.3-4.1-0.3-6.1c0-13.2,0.1-26.4-0.1-39.6c0-3.7,0.6-6.9,3.6-9.4 C257.2,52.1,258.8,52.1,260.5,52.1z M255.6,470c-3-2.4-3.6-5.6-3.6-9.4c0.2-13.7,0.1-27.5,0.1-41.2c0-1.4,0-2.7,0.2-4.1c0.6-3.3,2.6-5,5.9-5 c3.1,0.1,5.1,1.9,5.5,4.9c0.3,2,0.2,4.1,0.2,6.1c0,13.1-0.1,26.1,0.1,39.2c0,3.7-0.6,6.9-3.5,9.4C258.8,470,257.2,470,255.6,470z M49.1,258.6c2.5-2.9,5.6-3.6,9.4-3.5c13.7,0.2,27.5,0.1,41.2,0.1c1.4,0,2.7-0.1,4.1,0.2 c3.3,0.6,5,2.7,4.9,5.9c-0.1,3.1-1.8,5.2-4.9,5.5c-2.6,0.3-5.2,0.2-7.7,0.2c-12.5,0-25-0.1-37.5,0.1c-3.7,0.1-6.9-0.7-9.4-3.5 C49.1,261.8,49.1,260.2,49.1,258.6z M467,262.7c-1.6,2.8-3.8,4.4-7.2,4.3c-15.2-0.1-30.4-0.1-45.6,0c-3.2,0-6-1.1-6.4-4.3 c-0.3-2,1-4.6,2.3-6.3c0.7-1,3-1.1,4.5-1.1c14.9-0.1,29.9,0,44.8-0.1c3.5,0,6,1.3,7.6,4.3C467,260.5,467,261.6,467,262.7z M155,370.5c-1.4,2.2-2.1,4-3.4,5.3c-10.6,10.7-21.3,21.4-32,32c-3.3,3.2-6.7,3.4-9.3,0.7 c-2.6-2.6-2.3-6,1-9.3c10.5-10.6,21.1-21.2,31.7-31.8c2.1-2.1,4.7-3.8,7.6-2C152.4,366.6,153.5,368.7,155,370.5z M402.1,411.3c-2.4-1.4-4.3-2.2-5.7-3.5c-10.8-10.6-21.4-21.3-32-32c-3.2-3.3-3.4-6.8-0.7-9.3 c2.6-2.5,5.9-2.3,9.1,0.8c10.8,10.7,21.6,21.4,32.2,32.4c1.5,1.5,2.2,4.7,1.9,6.9C406.5,408.3,403.9,409.6,402.1,411.3z M114.1,110.7c2.3,1.4,4.1,2.1,5.4,3.3c10.8,10.7,21.6,21.4,32.3,32.3c3.1,3.1,3.2,6.5,0.7,9 c-2.5,2.6-5.9,2.5-9-0.5c-10.9-10.8-21.9-21.6-32.5-32.7c-1.5-1.5-2.1-4.8-1.6-6.9C109.7,113.6,112.3,112.4,114.1,110.7z M408.3,117.2c-1.4,2.3-2.1,4.1-3.4,5.3c-10.6,10.7-21.3,21.4-32,32c-3.3,3.3-6.7,3.5-9.4,0.9 c-2.6-2.6-2.4-6,0.9-9.3c10.6-10.7,21.3-21.3,32-32c2.1-2.1,4.6-3.5,7.3-1.9C405.6,113.2,406.7,115.3,408.3,117.2z'/><path fill='%23FF9700' d='M257.9,160.7c54.9-0.2,100.1,44.9,100.4,100.1c0.3,54.9-45.4,100.7-100.4,100.5 c-55.1-0.1-100.2-45.3-100.2-100.3C157.7,206,202.8,160.9,257.9,160.7z'/></svg>") no-repeat

	.icon.humidity:before
		background url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%230E65AD' d='M261.3,49c2.7,2.7,6,5,7.9,8.2c38.3,66.5,76.4,133.1,114.6,199.7c14.9,25.9,22.3,53.8,20.3,83.6 c-2.4,36.1-16.2,67.4-41.6,93.3c-23.8,24.2-52.8,38.5-86.4,42.5c-35.8,4.2-69.1-3.8-98.9-24.1c-33.9-23.1-54.7-55.2-61.8-95.6 c-6.2-34.8,0.1-67.7,17.6-98.3c38.6-67.5,77.3-134.9,116-202.3c1.6-2.8,4.8-4.7,7.3-7.1C258,49,259.7,49,261.3,49z'/></svg>") no-repeat
		
	.icon-rainfall.rainfall:before
		background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 514.8 514.8'><g fill='#0e65ad'><path d='M405.962 47.612c-7.037 0-13.674 1.597-19.688 4.312-12.021-23.963-36.749-40.459-65.389-40.459-18.628 0-35.582 7.019-48.501 18.484C250.658 11.398 221.961 0 190.396 0 123.573 0 69.344 50.614 67.967 113.517c-25.054 11.628-42.458 36.93-42.458 66.354 0 34.004 23.228 62.52 54.669 70.724l338.579 2.324c39.178-1.405 70.533-33.526 70.533-73.048 0-28.219-15.988-52.661-39.388-64.872 2.61-5.929 4.121-12.441 4.121-19.335.001-26.537-21.515-48.052-48.061-48.052zM141.818 372.364c8.501-16.438 9.524-91.36 9.524-91.36s-60.55 44.141-69.051 60.578c-8.501 16.438-2.065 36.653 14.373 45.154 16.438 8.501 36.653 2.066 45.154-14.372zM266.13 372.364c8.501-16.438 9.524-91.36 9.524-91.36s-60.55 44.141-69.051 60.578c-8.501 16.438-2.065 36.653 14.372 45.154 16.439 8.501 36.654 2.066 45.155-14.372zM354.861 386.736c16.438 8.501 36.653 2.065 45.154-14.372 8.501-16.438 9.524-91.36 9.524-91.36s-60.55 44.141-69.051 60.578c-8.5 16.439-2.065 36.653 14.373 45.154zM125.361 511.049c16.438 8.501 36.653 2.065 45.154-14.372 8.501-16.438 9.524-91.36 9.524-91.36s-60.549 44.141-69.051 60.578c-8.501 16.438-2.065 36.653 14.373 45.154zM249.673 511.049c16.438 8.501 36.653 2.065 45.154-14.372 8.501-16.438 9.524-91.36 9.524-91.36s-60.55 44.141-69.051 60.578c-8.5 16.438-2.065 36.653 14.373 45.154z'/></g></svg>") no-repeat

	.icon.suggestion-1:before
		background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><path fill='%23FF850B' d='M97.5,280.7c3.4-3.5,6.9-7,10.2-10.6c13.8-15.1,27.6-30.2,41.3-45.4c1.3-1.4,2.5-2,4.4-2 c15.1,0.1,30.2,0.1,45.3,0c2.2,0,3.6,0.6,5,2.4c13.6,16.8,27.2,33.5,40.8,50.3c0.5,0.7,1.1,1.3,1.9,2.3c0.7-0.8,1.4-1.5,2.1-2.3 c14.2-17.1,28.5-34.3,42.6-51.4c1.2-1.4,2.3-1.9,4.1-1.9c15.8,0.1,31.5,0,47.3,0.1c1.2,0,2.9,0.6,3.6,1.6 c13.7,18.3,27.2,36.7,40.8,55c0.2,0.3,0.4,0.6,0.7,1.2c-5.6,1.4-11,2.8-16.4,4c-0.7,0.2-2.1-0.7-2.6-1.5 c-7.8-10.3-15.5-20.6-23.2-31c-0.7-0.9-1.4-1.7-2.5-3.1c-0.6,6.6-1.2,12.5-1.5,18.5c-0.1,1.3,1,2.7,1.6,3.9 c8.2,16,16.4,31.9,24.6,47.9c0.6,1.2,1.1,2.3,1.9,3.9c-9.7,0-18.9,0-28.4,0c0,16.1,0,31.9,0,48c1.4,0.1,2.9,0.1,4.5,0.2 c0,1.8,0,3.5,0,5.4c-7.3,0-14.5,0-22.1,0c0-17.8,0-35.5,0-53.4c-2.8,0-5.3,0-8.1,0c0,17.7,0,35.4,0,53.4c-7.6,0-14.8,0-22.2,0 c0-1.8,0-3.4,0-5.3c1.5-0.1,3-0.2,4.6-0.3c0-16,0-31.8,0-47.8c-12.2,0-24.2,0-36.8,0c0.7-1.3,1.1-2.2,1.6-3 c9.7-16.7,19.4-33.3,29-50.1c0.8-1.4,1.1-3.2,1-4.8c-0.3-4.1-1-8.1-1.6-12.8c-0.9,1-1.6,1.6-2.3,2.4 c-10.3,11.7-20.5,23.5-30.8,35.1c-0.7,0.7-2,1.7-2.6,1.5c-5-2.1-9.8-0.6-14.5,0.9c-2.8,0.9-4.6,0.2-6.6-1.9 c-8.1-8.6-16.3-16.9-24.5-25.3c-0.8-0.8-1.6-1.6-2.9-2.8c0,20.8,0,41,0,61.5c-3.3,0-6.2,0-9.3,0c0,16.2,0,32,0,47.9 c1.5,0.1,2.9,0.2,4.5,0.3c0,1.7,0,3.4,0,5.3c-7.2,0-14.5,0-22,0c0-17.7,0-35.3,0-53.2c-2.8,0-5.3,0-8.2,0c0,17.7,0,35.4,0,53.3 c-7.5,0-14.7,0-22,0c0-1.7,0-3.3,0-5.4c1.4-0.1,2.8-0.2,4.5-0.3c0-15.9,0-31.6,0-47.7c-2.4,0-4.8,0-7.5,0c0-21.1,0-41.8,0-63.4 c-13,11.1-25.5,21.8-38.1,32.5c-3.8-3.7-7.6-7.2-11.3-10.8C97.5,281.5,97.5,281.1,97.5,280.7z M391.2,207.3c-3.8,9.3-11.2,13.8-21.1,12.6c0.7-11.7-2.4-22.5-8.2-32.9c-7.4,21.4-21.8,33.6-44.4,33.8 c-18.5,0.2-38.4-12.6-43.6-37.3c-4.7,5-8.1,10.7-9.5,17.2c-1.3,6.3-1.8,12.7-2.7,19.2c-7.8,0.4-15.6-6.5-16.8-15.6 c-1.4-10.6,3-18.8,11.7-24.4c5-3.2,10.8-5,17-7.7c0.8-4.3,1.8-9.7,2.9-15.1c2.5-11.9,7.8-22,19.4-27.4 c26.1-12.3,57.8,2.7,64.9,30.6c0.8,3.3,1.1,6.8,1.9,10.1c0.2,0.9,1.1,2.2,2,2.5c13.8,4.4,22.5,13.5,26.2,27.5 c0.1,0.3,0.3,0.5,0.4,0.7C391.2,203.1,391.2,205.2,391.2,207.3z M297.8,163.8c-3,3.9-5.4,7.9-8.8,10.8c-2.5,2.2-3.3,4-2.4,6.9 c0.3,1.1,0.4,2.2,0.8,3.3c4.2,15.2,18.9,24.8,35.2,23c14.8-1.6,27.1-15,27.8-30.1c0.1-3.5,0-3.5-3.3-3.3 c-8.1,0.4-16.2,0.5-24.3,0.9c-2.9,0.1-3.8-1-3.6-3.9c0.3-4.1,0.1-8.3,0.1-12.4c-1.2,0.8-1.7,1.7-2.3,2.5c-3,4.1-5.8,8.3-9,12.2 c-1.6,1.9-3.6,3.7-6.7,3.4C300.5,172.4,301.2,167.4,297.8,163.8z M172.6,138.9c9.6,1.5,20.1,2.8,30.5,4.8c6.7,1.3,10.9,6.4,10.8,13c-0.1,9.6-0.2,19.4-1.8,28.8 c-3.1,18.7-20.2,31.4-39.6,30.7c-18.2-0.7-33.9-15.3-36.1-33.7c-0.8-6.4-1.7-12.9-2.6-19.3c-0.6-3.9,0.3-7.2,3.3-9.9 c6.8-5.9,14.2-10.8,22.9-13.2C163.7,139.4,167.7,139.5,172.6,138.9z M170.9,169.7c-3,1.5-5.6,2.5-8,3.9c-2,1.1-3.7,1.3-5.9,0.7 s-4.5-0.4-6.8-0.5c-1.9-0.1-2.8,0.9-2.7,2.8c0.2,2.8,0.1,5.8,0.6,8.5c2.8,14.2,17,24.2,31,22.1c15.3-2.3,26.1-15.9,24.6-30.9 c-0.2-1.5-0.7-2.4-2.3-2.6c-10.4-1.6-20.7-1.8-30.9,1.6c-0.5,0.2-1,0.1-2,0.2C169.2,173.5,169.9,171.9,170.9,169.7z'/><circle fill='none' stroke='%230F57A5' stroke-width='6' stroke-miterlimit='10' cx='250' cy='251.7' r='224.7'/></svg>") no-repeat

	.icon.suggestion-2:before
		background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><circle fill='none' stroke='%230F57A5' stroke-width='6' stroke-miterlimit='10' cx='248.4' cy='250.7' r='224.5'/><path fill='%23FF850B' d='M259.9,402.3c5.6-1.7,10-4.9,11.7-10.9c1.5-5.4,0.2-10.2-3.5-14.3c-12.4-14-24.8-28-37.2-42 c-0.6-0.7-1.2-1.3-1.9-2.2c12.3-10.5,24.5-20.8,36.8-31.4c0.5,0.7,1,1.3,1.4,2c6.3,10.5,12.5,21,18.9,31.5 c1.6,2.6,3.5,4.9,5.5,7.2c0.8,0.9,2.1,1.6,3.3,2.1c18.8,6.5,37.7,13,56.5,19.5c2.4,0.8,4.6,2.2,7.1,2.9 c6.5,1.8,13.5-1.5,16.6-7.5c3.1-5.9,1.8-13.5-3.1-17.8c-1-0.8-2.2-1.4-3.5-1.8c-17.7-6-35.4-11.9-53.2-17.7 c-2.2-0.7-3.5-1.9-4.7-3.9c-10.6-17.9-21.5-35.7-31.9-53.8c-3.9-6.9-6.7-14.4-10.1-21.7c-7.4-16-14.8-32-22.2-48.2 c7.3-2,14.5-4,22-6.1c0.4,0.9,0.8,1.7,1.1,2.6c4.8,12.3,9.5,24.6,14.4,36.9c2,5,6.1,7.7,10.6,7.1c7-0.9,10.8-7.2,8.3-13.9 c-2.3-6.1-4.7-12.2-7.1-18.3c-3.6-9.2-7.2-18.5-10.8-27.7c-2.6-6.6-8.8-9.7-15.7-7.8c-15.3,4.2-30.5,8.5-45.8,12.8 c-3.1,0.9-6.1,1.7-9.2,2.6c-6.4,2-11.5,5.8-14.8,11.5c-2.7,4.7-5,9.6-7.1,14.5c-3,6.9-5.7,13.9-8.5,20.9 c-0.4,0.9-0.8,1.8-1.3,2.9c-6-5-11.8-9.9-17.6-14.8c-3.2-2.7-6.4-5.4-9.6-8c-4-3.3-8.4-3.8-12.3-1.5c-3.9,2.3-7,8.2-5.9,12.2 c0.5,1.8,1.8,3.7,3.3,4.9c12.8,11.1,25.9,21.9,38.7,33c3.4,2.9,6.7,4.4,11.1,3.2c3.6-1,5.6-3.3,6.8-6.8 c2.2-6.4,4.6-12.8,7.2-19.8c3.7,8,7.1,15.4,10.5,22.7c3,6.6,6,13.3,9.2,19.8c2.3,4.7,5,9.3,7.7,14.2c-5.2,4.5-11,9.4-16.8,14.4 c-5.3,4.5-10.6,8.9-15.8,13.5c-7.2,6.2-7.9,15.8-1.6,22.9c16,18.1,32,36.1,48,54.2c2.6,2.9,5.7,4.7,9.3,5.9 C256.4,402.3,258.1,402.3,259.9,402.3z M187.5,129.6c-5.1,1.2-10,3-14.1,6.4c-9.5,7.8-12.9,21.3-8,32.8c5.1,11.8,17.1,18.5,30.2,16.8 C207.4,184,217.4,174,219,162c2.1-15.2-7.5-28.8-22.6-31.8c-0.5-0.1-1-0.3-1.5-0.5C192.5,129.6,190,129.6,187.5,129.6z'/></svg>") no-repeat

	.icon.suggestion-3:before
		background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><circle fill='none' stroke='%230F57A5' stroke-width='6' stroke-miterlimit='10' cx='248.1' cy='251.3' r='224.2'/><path fill='%23FF850B' d='M113.3,264.2c8.3,0,16.6,0,25.1,0c-2.4-5-5-9.7-7-14.6c-8.5-20.9-9.4-41.9,1.4-62.3 c10.6-20.2,27.8-31.8,50.3-34.7c25.4-3.3,46.7,5.3,64.1,23.9c0.2,0.2,0.3,0.6,0.5,0.8c3.9-3.5,7.4-7,11.2-10 c23.7-18.7,56.9-20.8,81.8-4.8c19.1,12.3,29,30.2,30.4,52.8c1,16.9-4,32.4-12.4,46.8c-2.5,4.2-5.3,8.2-7.9,12.4 c-0.9,1.4-1.9,1.7-3.5,1.7c-16.7-0.1-33.4,0-50-0.1c-2.1,0-3.5,0.5-4.9,2.2c-5.2,6.7-10.6,13.2-16.4,20.3 c-6.8-33.9-13.6-67.3-20.3-100.7c-0.2,0-0.4,0-0.6,0c-8.5,27.3-16.9,54.6-25.6,82.6c-5.7-17.1-11.3-33.5-17-50.5 c-1.5,2.8-2.8,5.2-4,7.7c-6.1,12-12.2,24.1-18.2,36.2c-0.8,1.7-1.7,2.2-3.6,2.2c-24.5-0.1-49,0-73.5,0 C113.3,272.3,113.3,268.3,113.3,264.2z M382.9,300.6c-16.8,0-33.7,0.1-50.5,0c-2.6,0-4.5,0.7-6.4,2.6c-18.5,19.1-38.5,36.6-58.4,54.3 c-6,5.4-11.6,11.2-17.3,16.9c-0.7,0.7-1.2,1.5-1.8,2.2c-0.6-0.3-0.9-0.4-1-0.6c-16.6-17.5-35.5-32.4-52.9-49 c-12.3-11.8-24.2-24.2-36.2-36.3c-0.5-0.5-0.9-1.1-1.8-2.1c1.4,0,2.3,0,3.2,0c11.5,0,23,0,34.5,0c1.8,0,2.8-0.6,3.5-2.2 c4-8.6,8.2-17.2,12.4-25.8c0.3-0.6,0.6-1.2,1.2-2.1c6.1,16.2,12.1,31.9,18.3,48.4c7.8-20.3,15.4-39.9,22.9-59.5 c0.2,0,0.4,0,0.5,0c6.4,23.7,12.8,47.3,19.4,71.5c0.8-0.8,1.3-1.4,1.9-2.1c6.9-8.6,13.9-17.2,20.8-25.8c1.3-1.7,2.7-2.4,4.8-2.4 c26.6,0.1,53.2,0,79.8,0c1.1,0,2.1-0.1,3.2-0.1C382.9,292.5,382.9,296.5,382.9,300.6z'/></svg>") no-repeat

	.icon.suggestion-4:before
		background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><circle fill='none' stroke='%230F57A5' stroke-width='6' stroke-miterlimit='10' cx='249' cy='250' r='223.8'/><path fill='%23FF850B' d='M284.3,385c-5.9-2.2-8.1-6.4-8.2-12.6c-0.2-9.6-0.9-19.2-1.4-29.1c-5.1,0-10.1-0.2-15.1,0 c-6.3,0.3-7.4-3.1-7.3-7.6c0.6-24.4,5.5-48.1,12.4-71.4c1.6-5.5,2-11.3,2.8-17c1.7-11.7,3.3-23.3,5-35c0.1-0.4,0-0.8,0-1.1 c-0.2-0.1-0.4-0.2-0.6-0.3c-1.6,3.3-3.4,6.4-4.7,9.8c-3.6,9-4.3,18.5-4.5,28.1c0,1.5,0,3,0,4.5c-0.1,4.6-3.4,8.2-7.9,8.6 c-4.2,0.4-8.6-2.7-9.2-6.9c-2.3-16.9-2.2-33.6,4.6-49.6c4.9-11.7,12.8-20.8,24.2-27.1c6.8,7.1,15.1,11.1,25,11 c9.8-0.1,18-3.8,24.9-10.9c6.6,3.5,12,8.3,16.5,14.1c7.4,9.6,11.5,20.6,12.6,32.5c0.7,7.4,0.4,14.8,0.4,22.3 c0,1.3,0.2,1.9,1.4,2.4c7.3,2.9,10.5,7.9,10.5,16c0,25.9,0,51.7,0,77.6c0,10.5,0,21.1,0,31.6c0,0.7,0,1.3,0,2 c-0.1,3.4-1.9,5.5-4.6,5.4c-2.6-0.1-4.4-2.2-4.4-5.4c0-7.6,0-15.2,0-22.8c0-29.4,0-58.8,0-88.1c0-2.9-0.6-5.5-3.2-7.2 c-1-0.6-1.7-0.6-2.8,0.3c-1.5,1.2-3.4,2.2-5.2,2.7c-1.5,0.4-1.8,1.1-2,2.3c-0.7,4.8-3.6,6.1-8.2,3.4c0.8,3,1.6,5.8,2.3,8.5 c5.3,19.9,8.8,40,9.2,60.6c0.1,5.1-1.7,6.7-6.8,6.7c-5.1,0-10.2,0-15.4,0c-0.4,8-0.7,15.8-1.1,23.5c-0.1,1.7-0.3,3.3-0.2,5 c0.4,6.3-2,10.9-8.1,13.2c-1.5,0-3,0-4.5,0c-5-2.1-7.9-5.6-8-11.2s-0.4-11.2-0.7-16.8c-0.2-4.5-0.5-9.1-0.7-13.5 c-1.4,0-2.4,0-3.5,0c-0.1,0.9-0.1,1.7-0.2,2.4c-0.4,9.1-1,18.2-1.2,27.3c-0.1,6-2.7,10-8.4,11.9C287,385,285.6,385,284.3,385z  M326.4,211.9c2.5,17.1,4.9,34.2,7.4,51.4c0.2,0,0.5,0,0.7-0.1c0.9-3.5,2.1-6.7,1.6-10.6c-0.9-7-0.7-14.2-1.7-21.2 C333.5,224.3,331.1,217.7,326.4,211.9z M159.8,385c-6.1-2.3-7.9-7-8.1-13.2c-0.7-20.7-1.9-41.4-2.9-62.1c-0.4-9-0.8-18-1.3-27.1 c-0.1-1-0.3-2-0.8-2.8c-4.5-7.7-5.6-15.9-4.3-24.7c2.2-14.6,4.2-29.3,6.3-43.9c-0.2-0.1-0.4-0.2-0.6-0.3 c-1.5,2.8-3.1,5.6-4.3,8.5c-3.9,9.1-4.7,18.7-5,28.5c0,1.9,0,3.9,0,5.8c-0.2,4.3-3.7,7.9-8,8.3c-4.2,0.3-8.5-2.8-9.1-7 c-2.2-16.3-2.2-32.4,4-47.9c4.6-11.5,12-20.8,22.6-27.4c1.6-1,2.6-1.1,4,0.4c12.6,12.4,33.3,12.6,46.1,0.4 c1.6-1.6,2.7-1.7,4.6-0.5c14.3,9.2,22.2,22.6,25.6,38.9c2,9.6,2,19.3,1.4,29c-0.1,0.8,0.4,2,1,2.4c6,3.4,8.5,8.6,8.5,15.4 c0,14.6,0,29.1,0,43.7c0,21.8,0,43.5,0,65.3c0,0.6,0,1.2,0,1.8c0,3.6-1.7,5.7-4.6,5.7c-2.7,0-4.5-2.2-4.5-5.8 c0-17.7,0-35.5,0-53.2c0-19.2,0-38.5,0-57.7c0-2.5-0.5-4.8-2.8-6.4c-2.7,2.6-5.8,3.9-9.4,2.9c-1,2.1-1.5,4.4-2.9,5.9 c-1.8,2-4.1,0.9-5.6-0.1c-2.1,4.6-4.1,9.1-6.1,13.6c-0.4,0.8-0.4,1.8-0.5,2.7c-1.1,24-2.1,47.9-3.2,71.9 c-0.3,6.6-0.5,13.2-1,19.8c-0.3,5-3.6,7.8-8,9.5c-1.3,0-2.7,0-4,0c-5.3-1.8-8.1-5.4-8.3-11.2c-0.7-16.5-1.5-33-2.2-49.6 c-0.2-4.6-0.5-9.3-0.7-13.9c-0.5,0.5-0.7,0.9-0.7,1.4c-0.9,20-1.9,40-2.5,60.1c-0.2,6.2-2,10.9-8.1,13.2 C162.8,385,161.3,385,159.8,385z M208.9,257.4c0.2,0,0.5,0.1,0.7,0.1c0.8-1.6,2.2-3.2,2.2-4.8c0.3-10.4-0.2-20.8-3.9-30.6 c-1.3-3.6-3.2-7-4.8-10.5c-0.3,0.1-0.5,0.2-0.8,0.3C204.5,227.1,206.7,242.2,208.9,257.4z M303.4,127.9c3.5,1.3,7.2,2.2,10.4,3.9c11.7,6.4,17.2,19.8,13.8,32.8c-3.3,12.7-14.9,21.7-27.9,21.8 c-15.1,0.1-28.1-11.6-29.4-26.4c-1.3-15.5,9-29.1,24.2-31.7c0.5-0.1,0.9-0.3,1.4-0.5C298.4,127.9,300.9,127.9,303.4,127.9z M179.3,127.9c4.2,1.7,8.8,2.9,12.5,5.3c10.7,6.9,15.2,20.3,11.4,32.4c-3.7,12.1-14.9,20.6-27.6,20.8 c-14.9,0.2-28-11.4-29.5-26.1c-1.5-15.5,9-29.4,24.2-32c0.5-0.1,0.9-0.3,1.4-0.5C174.3,127.9,176.8,127.9,179.3,127.9z M164.3,385c6.1-2.3,7.9-7,8.1-13.2c0.6-20,1.7-40.1,2.5-60.1c0-0.5,0.2-0.9,0.7-1.4 c0.2,4.6,0.5,9.3,0.7,13.9c0.8,16.5,1.6,33,2.2,49.6c0.2,5.7,3,9.4,8.3,11.2C179.3,385,171.8,385,164.3,385z M288.3,385c5.7-1.9,8.3-5.8,8.4-11.9c0.2-9.1,0.8-18.2,1.2-27.3c0-0.7,0.1-1.5,0.2-2.4c1.1,0,2.2,0,3.5,0 c0.2,4.5,0.5,9,0.7,13.5c0.3,5.6,0.5,11.2,0.7,16.8c0.1,5.6,3,9.1,8,11.2C303.4,385,295.9,385,288.3,385z'/></svg>") no-repeat

	.icon.suggestion-5:before
		background url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 500 500' enable-background='new 0 0 500 500'><circle fill='none' stroke='%230F57A5' stroke-width='6' stroke-miterlimit='10' cx='247.3' cy='250.1' r='223.4'/><path fill='%23FF850B' d='M119,244.4c0-0.8,0-1.7,0-2.5c1.2-1.4,2.2-2.9,3.5-4.1c37.9-33.4,75.9-66.8,113.9-100.2 c6.9-6,14.5-6,21.4,0c36.7,32.3,73.5,64.6,110.2,96.9c2.6,2.3,4.9,4.9,7.3,7.4c0,0.8,0,1.7,0,2.5c-2.2,0.7-4.4,1.9-6.7,2 c-10.8,0.2-21.7,0.1-32.5,0.1c-0.9,0-1.8,0.1-2.8,0.1c0,1.3,0,2.3,0,3.3c0,32.9-0.1,65.9,0.1,98.8c0,7.1-4.6,12.2-12.1,12 c-12.9-0.4-25.8-0.1-38.8-0.1c-1,0-1.9,0-3,0c0-1.4,0-2.4,0-3.4c0-21,0-42,0-63c0-8-4.1-12.1-12-12.1c-13.6,0-27.2,0-40.8,0 c-7.9,0-12,4.1-12,12c0,21.1,0,42.2,0,63.3c0,1,0,2,0,3.2c-1.1,0-2,0-2.9,0c-13.1,0-26.2-0.2-39.3,0.1 c-7.5,0.2-11.7-5.7-11.7-11.6c0.2-33.2,0.1-66.4,0.1-99.6c0-1,0-1.9,0-3c-1.3,0-2.2,0-3.1,0c-10.8,0-21.7,0.1-32.5-0.1 C123.3,246.3,121.1,245.1,119,244.4z'/></svg>") no-repeat

/*Modal style*/
.modal
	display block
	background-color rgba(192,192,192,0.5)
	text-align center
	overflow auto
	
	@media (min-width: 768px)
		.modal-dialog
			width 420px
			margin 30px auto
			padding 70px 0
			text-align center

	.modal-header-add
		color #fff
		padding 2px 12px !important
		border-bottom 1px solid #eee
		background-color #0E64AD
		-webkit-border-top-left-radius 5px
		-webkit-border-top-right-radius 5px
		-moz-border-radius-topleft 5px
		-moz-border-radius-topright 5px
		border-top-left-radius 5px
		border-top-right-radius 5px
		
		.close
			outline none
			margin-top 6px
			font-size 24px
			color #fff
			opacity 0.8

		.close:hover, .close:focus
			color #FFF
			text-decoration none
			cursor pointer
			opacity 1
			
		.modal-title-add
			color #FFF
		
	.add-modal-body
		min-height 80px !important

	.modal-select-label
		float left
		text-align left
		padding 15px 45px
		font-size 14px
		
	.modal-selectbox
		margin 8px


#aquaAnalyticsContainer
	height calc(100% - 50px)
	margin-top 50px
	// padding 15px
				
	.no-data-text
		height 80px
		
		.table
			margin-bottom 0
			color #f00
				
	.highcharts-credits
		display none
		
	.highcharts-title
		font-size 16px !important

	.no-data-text.full-height
		height calc(100% - 30px)
		
		.table
			font-size 24px
			color #BBB
	
.margin-top
	margin-top 0px !important
	
#aquaLeftAnalyticsPanel, #aquaMiddleAnalyticsPanel
	height 100%
	// float left
	overflow auto
	margin 0 0
	border 1px solid #DDD

	.aqua-panel-container:first-child
		.panel-title
			border-top none

	.temperature-container, .humidity-container, .rainfall-container
		margin 10px 0
		width 50%
		float left
		
		.icon-rainfall
			width 80px
			
		.icon-rainfall:before
			float none
			width 40px
			height 40px

		.icon
			width 50px

		.icon:before
			float none
			width 30px
			height 30px
			
		.rainfall-icon-title
			width calc(100% - 100px)
			height 45px
			display table
			margin auto

		.property-text
			width 100%
			font-size 24px
			
			small
				font-size 16px
				margin-left 10px
			
			.rainfall-title
				display block
				font-size 14px
				text-align left
				margin 0
				line-height 13px

		.avg-min-max
			width calc(100% - 20px)
			margin 10px auto 0
			background-color #F4F4F4
			text-align center
			clear both

			.avg, .min, .max
				width calc(100% / 3)
				display inline-block
				padding 5px
				
				.value
					font-size 12px

				.label
					color orange
					font-size 10px
	
	.rainfall-container
		width 100%
		
		.property-text
			width 100%
			
		.avg-min-max
			margin 10px auto 10px
				
	.temperature-container
		border-right 1px solid #DDD

	.graph-history-container, .graph-rain-history-container
		padding 10px 10px 5px 15px

		.graph-item
			height 65px
			width 100%
			display table

			.highcharts-container
				float left

			.graph-left-item, .graph-right-item
				width 30px
				float left
				font-size 11px

				.text
					margin 10px 0

					sub
						font-size 60%

			.graph-right-item
				width 60px

				.text
					display inline-block
					width 30px
					margin 25px 0 0 0
					text-align center

					.label
						font-size 80%
						display block
						text-align center
						color #666
						font-weight normal

		.graph-item:last-child
			border-bottom none

.aquaLeftAnalyticsPanel-height
	height calc(100% - 7px) !important
	box-shadow 2px 6px 5px 1px #c6c6c6
	border 0px !important
	
.width-full
	width 100% !important
	height 300px !important

#aquaMiddleAnalyticsPanel
	width calc(100% - 300px)

	.title-text
		color #0E65AD
		padding 5px 0
		text-align center
		font-size 14px
		font-weight bold

	.avg-report-hourly
		position relative
		// padding-top 20px
			
	.outlier
		position absolute
		top 0px
		right 10px
		display flex
		align-items center
		
		.text-outlier
			margin-right 10px
			font-size 12px
			
		.onoffswitch
			width 25px !important
			
			.onoffswitch-label
				height 12px !important
				border 2px solid #fff !important
				
				.onoffswitch-inner:before
					content "" !important
					background-color #9bc5e8 !important
				
				.onoffswitch-inner:after
					content "" !important
					background-color #bdc2c4 !important
					
				.onoffswitch-inner:after, .onoffswitch-inner:before
					height 12px !important
					line-height 16px !important
					
				.onoffswitch-switch
					position absolute
					display inline-flex !important
					width 14px !important
					height 14px !important
					background #857f7f !important
					top -2px !important
					right 9px
					border 0px solid #ddd !important
					
				.blue
					background #2673B5 !important
						
			.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
				right 0px !important
		
		.svg-setting
			display flex
			align-items center
			padding-left 10px
			
			svg
				cursor pointer
			
		.svg-setting svg.active-blue
			fill #2673B5
		
		.svg-setting svg.inactive-grey
			fill #857F7F
	
	/*.highcharts-container
		border-top 1px solid #DDD
	
	.highcharts-container:last-child
		border-bottom 1px solid #DDD*/
			
	.modal
		display block
		background-color rgba(192,192,192,0.5)
		text-align center
		overflow auto

		.table
			margin-bottom 0

			.center
				text-align center

			.line_height
				line-height 2.7

		@media (min-width: 768px)
			.modal-dialog
				width 420px
				margin 30px auto
				padding 70px 0
				text-align center

.modal-header-meter
	color #fff
	padding 9px 15px
	border-bottom 1px solid #eee
	background-color #2673B5
	-webkit-border-top-left-radius 5px
	-webkit-border-top-right-radius 5px
	-moz-border-radius-topleft 5px
	-moz-border-radius-topright 5px
	border-top-left-radius 5px
	border-top-right-radius 5px
	
	.modal-title-param
		color #fff !important
	
	.close
		outline none
		margin-top 0
		font-size 24px
		color #fff
		opacity 0.8

	.close:hover, .close:focus
		color #FFF
		text-decoration none
		cursor pointer
		opacity 1
				
.text-box-line
	margin-left 2px
	border 0px
	border-bottom 1px solid #999
	background-color #f9f9f9
	outline none
	width 20px
	padding 0 6px
	text-align center

.hourly-aqi-na-error
	text-align center
	padding-top 30px
	color red

.graph-index
	width 250px
	height 30px
	display table
	margin 15px auto
	
	.index, .index-text:first-child
		width calc(100% / 7)
		display inline-block
		text-align right
		font-size 12px
		
		.index-text
			margin 0 -50% 0 50%
			text-align center
		
		.index-0, .index-1, .index-2, .index-3, .index-4, .index-5, .index-6
			height 15px
		
		.index-1
			background-color $color-1
		
		.index-2
			background-color $color-2
		
		.index-3
			background-color $color-3
		
		.index-4
			background-color $color-4
		
		.index-5
			background-color $color-5
		
		.index-6
			background-color $color-6
	
	.index-text:first-child
		margin 0 -50% 0 50%
		text-align center
			
	.unit
		display inline-block
		font-size 12px
		margin 15px 0 0 20px
		position absolute
		
.full-container
	background-color #E2E6EF !important
	height 100%
	
	.parameter-btn-group
		display inline-table
		max-width calc(100% - 30px)
		margin 10px 0

		.parameter-btn
			width 70px
			padding 2px
			margin 5px 5px 0
			color #888
			font-size 14px
			cursor pointer
			text-align center
			display inline-block
			// border-radius 2px
			// border 1px solid #DDD
			// background-color #F7F7F7

		.parameter-btn:hover, .parameter-btn:focus
			background-color transparent
			outline none

		.parameter-btn.active
			// background-color #0E65AD
			// border-color #0e65ad
			color #0e65ad
			
		.parameter-btn:first-child
			margin 5px 5px 0 25px

	.calender-picker
		display flex
		align-items center
		position relative
		width 210px
		margin 5px 20px 0px 5px
		padding 2px
		height 44px
		color #0E65AD

		.select-calendar
			width 210px
			cursor pointer
			padding 0 12px 0 25px
			border-bottom 1px solid #999

			svg
				fill #2673B5
				position absolute
				left 3px
				top 14px

		.select-calendar:after
			content "\25BC"
			float right
			top 17px
			right 0
			font-size 10px
			padding 0 5px
			position absolute
			transition all .2s ease-in-out

		.calendar-content
			box-shadow 0 1px 1px 1px #ddd
			background-color #f7f7f7
			border 1px solid #ddd
			position absolute
			z-index 1
			width 780px
			right 0

			.btn-group
				margin 0 15px 15px 0
				float right

				.btn
					padding 0 15px
					border-radius 0
					margin-left 15px
					line-height 28px
					outline none

	.aqua-middle-pannel
		height calc(100% - 56px) !important
		background-color #F8F6F9
		border 0px !important
		
		.line-graph-container
			.avg-min-max-container
				width 220px
				height 200px
				background-color #FFF
				text-align center
				float left
				display table
				margin 45px 25px 5px 0
				box-shadow 2px 3px 2px 1px #c6c6c6

				.avg-container, .min-max-container
					width 100%
					display inline-block
					padding 5px
					line-height 40px
					
					.avg-value, .avg-label, .min-max-value, .min-max-label
						width 100%
						display inline-block
						text-align center
						line-height 35px
						
						.avg-val, .min-max-val
							font-size 20px
							color #555
						
						small
							margin-left 5px
							font-size 14px
							color #999

					.avg-label, .min-max-label
						line-height 20px
						color #4a4aaf
				
				.avg-container
					margin-top 10px
						
			.real-time-charts, .avg-report-hourly
				width calc(100% - 295px)
				display inline-block
				float left
				margin 0 25px
			
				.linegraph-container, .bargraph-container
					width 100%
					display inline-block
						
					div
						margin-top 0
						box-shadow 2px 3px 2px 1px #c6c6c6
						
						div
							box-shadow none

					.linegraph-title, .bargraph-title
						box-shadow none
						height 45px
						color #808080
						font-size 16px
						line-height 62px