.debug-table-container
	tr
		td
			color inherit !important
		
		td:last-child
			font-family consolas
			
	tr.debug-0
		background-color #FFF
		color black
		
	tr.debug-1
		background-color red
		color white
			
	tr.debug-2
		background-color #ff8080
			
	tr.debug-3
		background-color orange
			
	tr.debug-4
		background-color yellow
			
	tr.debug-5
		background-color lightblue
			
	tr.debug-6
		background-color blue
		color white
			
	tr.debug-7
		background-color purple
		color white

.view-debug-data-title
	text-align center
	font-size 15px
	font-weight bold
	line-height 2

	.capitalize
		text-transform capitalize