.device-config-container
	height calc(100% - 50px) !important
	margin-top 50px !important
	background-color #f5f6f8

	.industry-details-container
		margin-top 20px
		position relative

		.title-text
			padding 10px 0
			width auto
			display inline-block
			font-weight 700
			text-align left !important
			margin-bottom 5px !important
			
		.select-filter-options
			width calc(100% - 250px)
			display table
			position absolute
			/* padding 0px 0 0 15px; */
			float right
			right 0
			
	.industry-details-list
		width 100%
		max-width 1100px
		margin auto
		display block
		
		.view-online-container
			display block
			height 40px
			
			.view-online
				float right
				margin 10px
				
				.online-device
					// position absolute
					bottom 10px
					right 30px
					display flex
					align-items center
					
					.text-online-device
						margin-right 10px
						
					.onoffswitch
						width 25px !important
						margin-top 2px
						
						.onoffswitch-label
							height 12px !important
							border 2px solid transparent !important
							
							.onoffswitch-inner:before
								content "" !important
								background-color #9bc5e8 !important
							
							.onoffswitch-inner:after
								content "" !important
								background-color #bdc2c4 !important
							
							.onoffswitch-inner:after, .onoffswitch-inner:before
								height 12px !important
								line-height 16px !important
								
							.onoffswitch-switch
								position absolute
								display inline-flex !important
								width 14px !important
								height 14px !important
								background #857f7f !important
								top -2px !important
								right 9px
								border 0px solid #ddd !important
								
							.blue
								background #2673B5 !important
							
						.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
							right 0px !important

	.industry-details-list, .device-details-list
		.title-text
			text-align center
			margin-bottom 20px
			line-height 1.5
			padding-top 20px

			.add-device
				width auto
				font-weight 700
				padding 0 5px

			.device-name:before
				content ""
				width 10px
				height 10px
				border-radius 50%
				position absolute
				margin 8px 0 8px -15px
				background-color #F25A59

			.device-name.active:before
				background-color #18BC9C

			.device-name.data-off:before
				background-color #FFBC54

		.panel
			max-width 100%
			box-shadow 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
			// margin-top 20px
			position relative
			height 100%

			.panel-body
				color #828385

		.details-list
			margin 20px
			width calc(100% - 40px)
			
			tr
				border-bottom 1px solid #ddd
				
				.active-item
					background-color #ddd
					
					.sort-arrow-down, .up
						opacity 1
						
				.activebles
					cursor pointer
						
				th
					text-align center
					position relative
					
					.sort-arrow-down, .up
						position absolute
						display inline-block
						height 12px
						width 8px
						bottom 7px
						opacity 0
						left 22px
						margin 2px 0px 2px 2px
						background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 292.362 292.362'><path fill='#333' d='M286.935 69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952 0-9.233 1.807-12.85 5.424C1.807 72.998 0 77.279 0 82.228c0 4.948 1.807 9.229 5.424 12.847l127.907 127.907c3.621 3.617 7.902 5.428 12.85 5.428s9.233-1.811 12.847-5.428L286.935 95.074c3.613-3.617 5.427-7.898 5.427-12.847 0-4.948-1.814-9.229-5.427-12.85z'/></svg>") no-repeat
					
					.up
						background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 292.362 292.361'><path fill='#333' d='M286.935 197.287L159.028 69.381c-3.613-3.617-7.895-5.424-12.847-5.424s-9.233 1.807-12.85 5.424L5.424 197.287C1.807 200.904 0 205.186 0 210.134s1.807 9.233 5.424 12.847c3.621 3.617 7.902 5.425 12.85 5.425h255.813c4.949 0 9.233-1.808 12.848-5.425 3.613-3.613 5.427-7.898 5.427-12.847s-1.814-9.23-5.427-12.847z'/></svg>") no-repeat
									
				th:nth-child(1),th:nth-child(2),th:nth-child(3)
					text-align left
					
				th:nth-child(2)
					width 280px
					min-width 280px
					
					.sort-arrow-down, .up
						left 95px
						
				th:nth-child(3)
					min-width 120px
					
					.sort-arrow-down, .up
						left 35px
						
				th:nth-child(4)
					width 100%
					min-width 100px
					
					.sort-arrow-down, .up
						left 82px
				
				th:nth-child(5)
					width 100%
					min-width 180px
					
					.sort-arrow-down, .up
						left 115px
						
				th:nth-child(8)
					width 100px
					
				.activebles:hover, .activebles:focus
					background-color #ddd
					
					.sort-arrow-down, .up
						opacity 0.5
						
				.active-item:hover, .active-item:focus
					.sort-arrow-down, .up
						opacity 1
					
				td
					padding 8px 8px 0px
					border-top none
					
				td:nth-child(9)
					width 100px
					display block
					
				td:nth-child(5)
					width 100%
					min-width 180px
					
				td:nth-child(4)
					width 100%
					min-width 100px
					
				td:nth-child(2)
					width 280px
					min-width 280px
					display block
					
				.device-status
					width auto
					margin-top 5px
			
			.no-match
				border-bottom 0px !important
				
				.title-text
					border-bottom 0px
					text-align center
					font-size 16px
					color #808080

			.form-control
				box-shadow none

			.title-text
				text-align left
				margin-bottom 5px
				border-bottom 1px solid #ddd

			.parameter-container
				margin-bottom 15px
				border-radius 5px
				display table
				width 100%

				.config-item-border
					border-bottom 1px solid #ddd
					margin 5px 0 10px
					display table
					width 100%
					position relative

					.form-config
						width calc((100% / 7) - 10px)
						margin-right 10px
						float left
						
						.onoffswitch
							margin-top 5px

					.form-config:first-child
						width 140px

					.form-config:nth-child(7)
						width 60px

					.remove-btn
						padding 0px 10px
						color #ddd
						top 20px
						right -10px
						position absolute
						background-color transparent
						border-color transparent
						font-size 18px

			li
				border-bottom 1px solid #ddd
				display table
				width 100%
				padding 5px 0
				font-size 16px
				line-height 2

			li:last-child
				border-bottom 0 solid transparent
				display table
				width 100%
				padding 5px 0
				font-size 16px
				line-height 2

			.device-serial
				width 30px
				height 32px
				float left

			.device-status
				vertical-align middle
				padding-bottom 7px
				width 100px
				line-height 0.8
				
				.circle
					width 10px
					height 10px
					float left
					margin 0 5px 0 0
					border-radius 50%
					background-color #F25A59

			.device-status.active
				background-color transparent
				
				.circle
					background-color #18BC9C

			.device-status.data-off
				.circle
					background-color #FFBC54
			
			.device-error-log
				padding 7px 10px
				
				svg
					margin-top 2px
				
			.device-error-log.debug-2
				svg
					path
						fill red
					
			.device-error-log.debug-3
				svg
					path
						fill #ff8080
					
			.device-error-log.debug-4
				svg
					path
						fill orange
					
			.device-error-log.debug-5
				svg
					path
						fill yellow
					
			.device-error-log.debug-6
				svg
					path
						fill lightblue
					
			.device-error-log.debug-7
				svg
					path
						fill blue
					
			.device-error-log.debug-8
				svg
					path
						fill purple
			
			.device-error-log.debug-9
				svg
					path
						fill red
						
			.device-analytics
				width 45px !important
				height 20px
				display inline-block !important
				// float right
				padding 0
				margin 0 8px
				position relative
				
				.proceed
					display table
					cursor pointer
					padding 4px 2px
					line-height 0.7
					position absolute
					margin 0
					right 5px
					top 0
					
					svg
						fill #9e9494
						stroke #9e9494
						
					svg:hover, svg:focus
						fill #2673B5
						stroke #2673B5

			.device-config
				width 40px

				.proceed
					width 32px
					height 32px
					display table
					float right
					cursor pointer
					padding 4px 2px
					line-height .7
					
			.inline-loading
				line-height 1
				margin-top 2px

	.device-details-list
		max-width 920px
		margin auto
		float none
		padding 0
		margin-top 20px

	label
		margin-bottom 2px
		font-weight normal
		font-size 12px
		color #828385
		
	.line-height
		line-height 20px
		
	.open-popup
		cursor pointer
	
	.device-modem-type.match
		svg
			fill green
		
	.device-modem-type.no-match
		svg
			fill #FF830D
		
	.sync-body
		text-align center
		padding 15px 45px
		font-size 18px
		color #000
		
	.border-zero
		border-top 0px !important

	.title-text
		color #727a9f
		margin 0 0 10px
		overflow hidden
		white-space nowrap
		text-overflow ellipsis

	a, a:active, a:focus, a:hover
		text-decoration none

	ol,ul
		margin-top 0
		margin-bottom 10px

	.industry-details
		padding 20px 30px
		color #828385

	.add-new
		width 80px !important
		float left !important
		
	.qr-code-svg
		position absolute
		top 30px
		right 23px
		appearance caret
		
		svg
			fill #5f5f5f
			stroke #5f5f5f
			
	.qr-field
		padding-right 30px

	.green-fill-btn
		color #fff !important
		display table
		border-color #18bc9c
		background-color #18bc9c

	button.green-fill-btn:disabled
		cursor not-allowed
		opacity 0.5

	.btn-left, .btn-right, .decline-btn
		max-width 100px
		float right
		line-height 1.8

	.btnn, .btn-right
		text-align center
		border 1px solid
		border-radius 20px
		outline none!important
		width 37px
		color #F5F6F8

	.btn-width
		width 80px
		margin-top 15px

	.panel-default
		border-color #ddd

	.panel
		border 1 solid transparent
		margin auto auto 20px
		border-radius 4px
		box-shadow 0 1px 1px rgba(0,0,0,.05)

	.pull-left
		float left

	.separator
		margin-bottom 0

	.form-config
		margin-bottom 15px !important
		
		.pr-react-select
			background-color #fff
			border 1px solid #cccccc
			border-radius 4px
			height 34px
			
			.pr-options
				background-color #fff
				top 32px
			
		.pr-react-select:focus
			border-color #66afe9
		
		.pr-react-select:after
			top 3px

	.form-row-config
		height 55px !important
		display flex
		-webkit-box-align center
		align-items center
		position relative

	button.red-fill-btn:active, button.red-fill-btn:focus, button.red-fill-btn:hover
		color #ababab !important
		border-color transparent

	.access
		margin-right 10px
		margin auto

	.right
		left: 20px

	.access-center
		display flex
		align-items center
		margin-top 20px
	
	.data-push-toggle
		float right
		margin-top 0

	/*Style for Tab*/

	.tab-container
		padding 20px 20px 0
		display table
		margin 0 auto 20px
		text-align center
		border-bottom 1px solid #4d5778
		
		.tab-item
			color #5b678a
			font-size 16px
			padding 5px 30px
			display inline-block
			border-bottom 2px solid transparent
		
		.tab-item:hover
			border-bottom 2px solid #dbdbdb
			cursor pointer
		
		.tab-item.active
			font-weight bold
			border-bottom 2px solid #4d5778
			
	.invisible
		opacity 0
			
	.relative
		height 100%
		position relative
		
		.details-list
			margin 20px 20px 60px !important
			
	.new-layer
		background-color #fff
		opacity 0.7
		width 100%
		height inherit
		z-index 99
		position absolute
		border-radius 5px

	.waiting-for-response
		display flex
		margin-left 600px
		line-height 1
		position absolute
		bottom 40px
		right 40px

		.device-response
			float right
			padding-left 10px

	.qr-code-input
		padding-right 0
		display flex
		align-items center

	.input-group-button-copy
		vertical-align middle
		display table
		cursor pointer
		margin-left 10px

		.btn-tranparent-bg
			background-color transparent
			border 0
			opacity 0.5
			outline none

		.btn-tranparent-bg:hover
			background-color transparent
			border 0
			opacity 1

	.no-of-device
		width 208.5px
		float left
		line-height 1
		padding 0 15px 0 0
		
		.title-text
			padding 0
			margin 0 !important

	.btn-add-new-device
		border-radius 15px
		font-size 18px
		border 0 solid transparent
		max-width 28px
		line-height 1.2
		font-weight bold
		height 25px
		width 25px

	.device-auth-token
		font-family consolas
		font-weight bold


	.form-group.error
		position relative

		.form-control
			border 1px solid red

	.form-group.error:after
		content 'Invalid Input'
		position absolute
		background-color red
		color white
		padding 2px 4px
		border-radius 4px
		right 15px
		top 1px
		z-index 9
		font-size 11px

	.form-config.error
		position relative

		.form-control
			border 1px solid red

	.form-config.error:after
		content 'Invalid Input'
		position absolute
		background-color red
		color white
		padding 2px 4px
		border-radius 4px
		right 0px
		top 56px
		z-index 9
		font-size 11px

	.adv-search
		position relative
		display flex
		border-collapse separate

		.svg-search
			position absolute
			z-index 9
			top 7px
			left 7px
			height 20px
			width 20px

		.search-box-group
			border-radius 4px !important
			box-shadow inset 0 0px 0px rgba(0, 0, 0, 0) !important
			padding-left 35px
			padding-right 35px

		.close-icon
			z-index 9
			position absolute
			right 12px
			top 5px
			font-size 30px
			outline none
			right 8px !important

	.input-group-btn
		display flex !important

	.svg-filter
		position absolute
		z-index 9
		right 7px
		top 7px
		height 20px
		width 20px
		cursor pointer

	.bg-box
		position absolute
		height 80%
		//overflow-y auto
		right 0px
		top 35px
		box-sizing border-box
		width 655px
		height auto
		border-radius 4px

	.background-box
		background white
		border 1px solid #ccc
		border-top-color #d9d9d9
		-webkit-box-shadow 0 2px 4px rgba(0,0,0,0.2)
		box-shadow 0 2px 4px rgba(0,0,0,0.2)
		-webkit-box-sizing border-box
		box-sizing border-box
		color #222
		margin-top -2px
		position absolute
		z-index 2300
		padding 10px
		padding-top 20px

		.label-font
			font-size 14px

		.label-device-accessible
			padding-top 0px !important

		.check-box-label
			font-size 14px
			line-height 1.5

		.control-label
			float left
			text-align left
			padding 8px 0px 0 45px

		.check-box-width
			min-width 160px

		.btn-top-margin
			margin-top 20px
			margin-bottom 20px

			.btn-group
				float right

				.border-radious
					border-radius 0px !important

				.btn-margin
					margin-right 10px

		.select-style
			color rgba(0,0,0,.87)
			font-size 14px
			font-weight 500
			background transparent
			border 1px solid transparent
			box-shadow inset 0 -1px 0 0 rgba(0,0,0,.12)
			box-sizing border-box
			display inline-block
			overflow hidden
			padding 0 12px 2px
			vertical-align middle
			min-width 266px
			cursor pointer

		.select-style:hover, .select-style:active, .select-style:focus
			border 1px dashed transparent
			box-shadow inset 0 -2px 0 0 #4285f4
		
		.pre-checkbox
			margin-left 30px
			float left
			height 10px
		
		.checkbox-center-align
			display table
			align-items center
