.alert-settings
	.parameter-label
		border-bottom 1px solid #ddd
		text-align center
		background-color transparent
		margin-bottom 10px
		display inline-block
		
	.parameter-row
		padding-top 20px
		display table
		margin auto
		padding-bottom 20px
		width calc(100% - 330px)
		
	.save-btn-loading
		display inline-flex
		line-height 30px
		padding-left 10px
		vertical-align super
		
	.btn
		outline none
		
	.btn-view-alert
		display table
		margin auto
		height 30px
		margin-top 5px
		border-radius 0
		padding 0px 25px
		
	.parameter-unit
		padding-left 10px
		font-size 12px
		display inline-flex
		align-items center
		
	.archive-btns
		margin 0 auto 4px
		
	.parameter-limit
		background-color #fff
		box-shadow 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
		text-align center
		margin-bottom 10px
		max-width 600px
		display table
		width 100%
		margin 40px auto
		padding 15px 0px
		
	.param-unit
		display inline-block
		width 60px
		
	.user-contact
		margin 20px 0 5px
		padding-bottom 5px
		position relative
		
	/*.user-contact:nth-child(2)
		border-top-color transparent*/
		
	.user-contact:hover
		background-color #F2F2F4
		
	.user-contact:hover + .user-contact
		border-top-color transparent
		
	label
		margin 0 20px 0 0
		font-weight normal
		color #333
		
	input[type='checkbox']
		margin 0 5px
		
	.close-btn
		position absolute
		right 0
		bottom 5px
		padding 5px
		line-height 0.8
		color #999
		font-size 16px
		cursor pointer
		
	.close-btn:hover
		color #333

	.btn-left
		margin 20px 40px
		max-width 120px

	.stack-items
		width 100%
		display table
		margin 0 auto 8px auto
		position relative

		.alerts-pre-warning
			width 100%
			
			.add-parameter
				color #ddd
				font-size 24px
				padding 25px 0 0
			
			.alerts-warning-head
				width 100%
				padding 12px 0
				text-align center
				display flex
				font-weight 600
			
			.warn-box
				width 48%

			.warn-box:first-child
				width 40%
				
			.warn-box:nth-child(2)
				width 30%
			
			.line-height
				line-height 27px
				
			.alerts-warning-body
				width 100%
				padding 4px 0
				text-align center
				display flex
				position relative
				
				.param-width-big
					width 58%
					
				.param-width
					width 40%
					padding 0 30px
					
				.param-width:first-child
					width 60%

				.param-width-small
					width 42%
				
				.remove-param
					position absolute
					right 12px
					top 12px
					cursor pointer
					color #ababab
				
				.remove-param:hover
					color #666
					
				.param-unit-width
					max-width 120px
					width 115px
					padding 0 0 0 10px
				
				.text-box-warn
					// float left
				.parameter-limit-threshold
					padding 5px 14px
					margin-left 12px
					max-width 85px
					border none
					box-shadow none
					outline none
					background-color #fff
					text-align center
					border-bottom 1px solid #ddd
				
		.stack-item
			width calc(50% - 2em)
			float left
			padding 0 1em

			.stack-image
				height 14px
				width 14px
				padding 7px
				float left
				background $theme_menu

				img
					height 1em
			
			.param-limit
				width 100% !important
			
			.param-limit-select
				width 100% !important
				height 29px
				outline none
				border 0px
				padding 0 10px
				font-size 14px !important
				color #797979
				letter-spacing 1px

			.stack-input
				float left
				background $theme_header
				width calc(100% - 30px)

				input
					line-height 28px
					padding 0 10px
					border none
					box-shadow none
					outline none
					background transparent
					width calc(100% - 20px)
			.remove
				position absolute
				padding 4px 8px
				color #ccc
				cursor pointer
				outline none
				font-size 16px

			.remove:hover, .remove:focus
				color #999