.navbar
	border-radius 0
	min-height auto
	margin-bottom 0
	z-index 999

.navbar-inverse
	background-color #0E64AD
	border none
	position fixed
	width 100%
	height 50px
	top 0
	opacity 0.9

.navbar-header
	// color white
	width calc(100% - 8px)
	// line-height 50px
	font-size 16px

	a, a:hover
		color white
		
	.logo
		padding 2px
		margin 10px 10px 10px 0
		border 1px solid white
		float left

	.brand
		height 50px
		padding 5px
		// margin auto
		text-align center
		display table
		line-height 40px

		span
			font-size 22px
			line-height 1

			sup
				top -0.2em
	
.navbar-with-modal
	.modal
		.modal-dialog
			.modal-content
				margin 20px auto
				
				.modal-header-about
					color #fff
					padding 2px 12px !important
					border-bottom 1px solid #eee
					background-color #0e64ad
					border-top-left-radius 5px
					border-top-right-radius 5px
					
					.close
						color #fff
						opacity 0.7
						margin 7.4px 0
						font-weight normal
						font-size 24px
						outline none
					
					.close:hover, .close:focus
						opacity 0.9
						
				.about-modal-body
					.modal-body-about-logo 
						height 100px
						display table
						margin auto
					
						.logo
							margin 10px 0px 10px 0
						
					.modal-body-content
						display table
						margin auto
						
						.modal-body-content-title
							font-size 24px
							font-weight bold
							
						.modal-body-content-version
							font-size 13px
							
					.modal-user-manual
						font-size 13px
						margin-top 15px
						color #2472B3
						
						.user-manual
							color inherit
							
				.about-modal-footer
					.about-modal-copyright
						display table
						margin auto
						font-size 12px
						color #aaa
						
						a
							color inherit
							

.navbar-brand, .navbar-brand:hover
	color white !important
	padding 10px 20px
	height auto
	line-height 1
	position fixed
	background-color #343A4E !important

	a, a:hover
		color white

.navigation-links
	position fixed
	right 60px
	top 0

	.link
		width 70px
		height 50px
		padding 6px
		margin 0 5px
		display block
		text-align center
		float left
		opacity 0.75
		cursor pointer
		transition all ease-in-out 0.2s
		
		label
			font-size 12px
			font-weight normal
			color white
			display block
			margin-top 3px
			margin-bottom 0
			line-height 1
			cursor pointer
			
		svg
			display block
			margin auto
			text-align center
		
		.badge-count
			position absolute
			background red
			top 3px
			text-align center
			line-height 1
			font-size 9px
			border-radius 7px
			color #fff
			padding 2px 5px

	.link:hover, .link.active
		opacity 1
		text-decoration none !important

	.link.active
		svg
			.fill
				fill white
				
			.unfill
				fill #2673B5
				stroke #2673B5
				
			.inactive
				display none

	.grp-ct
		width 95px
	
	.notification
		width 80px
		
.navbar-menu
	position absolute
	right 15px
	height 50px
	padding 2px
	margin 3px 0
	text-align right

	.dropdown-toggle
		width 26px
		height 26px
		display block
		cursor pointer
		opacity 0.8
		background-color #FFF
		color #496388
		font-size 20px
		line-height 28px
		border-radius 50%
		text-align center
		float right

		svg
			height 28px
			width 28px
			
	.dropdown-toggle:hover
		opacity 1
		
	.dropdown-label
		color white
		opacity 0.8
		font-size 12px
		cursor pointer

	.dropdown-menu
		display none
		list-style none
		margin-top 4px
		text-align left
		background-color white
		padding 5px 0
		margin-bottom 0
		min-width 150px
		border 1px solid #DDD
		box-shadow 1px 1px 4px #8E8C8D

		.username
			margin 0 10px 5px
			padding-bottom 5px
			border-bottom 1px solid #DDD

			div
				font-size 16px
				font-weight bold

			small
				color #8E8C8D

		a
			color #8E8C8D
			padding 5px 10px
			font-size 12px
			cursor pointer
			display block
			text-decoration none

		a:hover
			background-color #F5F6F8

	.dropdown-menu:before
		content ''
		display table
		float right
		margin -15px 8px 0 0
		border-top 5px solid transparent
		border-right 5px solid transparent
		border-bottom 5px solid white
		border-left 5px solid transparent

.notification-list
	display none
	list-style none
	margin-top 4px
	text-align left
	background-color white
	padding 5px 0
	margin-bottom 0
	min-width 150px
	border 1px solid #DDD
	box-shadow 1px 1px 4px #8E8C8D

	.username
		margin 0 10px 5px
		padding-bottom 5px
		border-bottom 1px solid #DDD

		div
			font-size 16px
			font-weight bold

		small
			color #8E8C8D

	a
		color #8E8C8D
		padding 5px 10px
		font-size 12px
		cursor pointer
		display block
		text-decoration none

	a:hover
		background-color #F5F6F8
		color #6d6d6d

.notification-list:before
	content ''
	display table
	border-top 5px solid transparent
	border-right 5px solid transparent
	border-bottom 5px solid white
	border-left 5px solid transparent
	float none
	position absolute
	right 168px
	margin -14px 11px 0 0
		
.navbar-menu.active, .navbar-menu:hover
	.dropdown-toggle, .dropdown-label
		opacity 1

.navbar-menu.active
	.dropdown-menu
		display block
	
.notification.active
	.notification-list
		display block

.notification-list
	cursor default
	text-align center
	padding 5px 0 0
	width 320px
	position absolute
	right 20px
	border 1px solid rgba(67, 76, 118, .4)

	.notifications, .notification-loading
		height 376px
		max-height 376px

		.notification-item
			border-bottom 1px solid #DDD
			cursor pointer
			text-align left
			margin 0 10px
			padding 10px 15px 6px
				
			.station-name
				width 100%
				font-size 14px
				margin-bottom 5px
			
			.station-name.icon-circle:before
				margin 5px 10px 0 0
					
			small
				color #777
				text-align right
				display block
				font-size 11px
				font-weight 400
		
		.notification-item:last-child
			border-bottom none

	.notification-loading
		display flex
		
		.no-notifications-text
			width 100%
			display table
			margin auto
			color #80807D
		
	.view-all
		text-decoration none
		font-size 13px
		text-align center
		padding 5px 0
		width 100%
		display table
		background-color #f1f4ff
		border-bottom-left-radius 2px
		border-bottom-right-radius 2px
		border-top 1px solid #dbdfec
		opacity 0.9


	.view-all:hover
		opacity 1

.dropdown-label-notification
	font-size 12px
	font-weight normal
	color #fff
	display block
	margin-top 3px
	margin-bottom 0
	line-height 1
	cursor pointer

.icon-circle:before
	content ''
	display inline-table
	width 10px
	height 10px
	margin-right 10px
	margin-top 5px
	float left
	border-radius 50%
	background-color #167F11
	
.icon-circle.moderate:before
	background-color #FFFF00
	
.icon-circle.poor:before
	background-color #FF9900
	
.icon-circle.very-poor:before
	background-color #FF0000
	
.icon-circle.severe:before
	background-color #C00000

#navigation
	width 0
	height 100%
	position fixed
	top 0
	left -100%
	z-index 999
	background-color rgba(0,0,0,0)
	transition all ease-in-out 0.5s

	.navigation-content
		width 80%
		max-width 240px
		height 100%
		overflow auto
		padding 20px
		color white
		background-color #496388

		.navbar-brand, .navbar-brand:hover
			padding 10px
			margin-bottom 20px
			position static
			display block !important
			width 100%
			text-align left

		.profile
			display table
			width 100%
			margin 20px 0

			.profile-icon
				background-color #B6B4C2
				color #496388
				width 50px
				height 50px
				float left
				font-size 25px
				line-height 50px
				border-radius 50%
				text-align center
				box-shadow 2px 2px 10px 0px #1A1D27

			.profile-name
				width calc(100% - 70px)
				margin 10px 0 0 20px
				float left

				h4
					margin 5px 0

				div
					color #B6B4C2

		.navigation-title
			font-size 16px
			padding 5px
			margin-bottom 20px
			border-bottom 1px solid #B6B4C2

		.navigation-links
			margin-bottom 20px
			padding 0

			li
				list-style none

				a
					color #B6B4C2
					padding 10px 0
					display table
					width 100%
			
				a.active
					color white

	.navigation-dismiss
		top 0
		right 0
		height 34px
		width 34px
		line-height 34px
		text-align center
		color #B6B4C2
		background-color #496388
		position absolute

	.navigation-dismiss:hover
		color white

.alert
	top auto
	bottom 0
	left -300px
	z-index 9999
	opacity 0
	width 300px
	position fixed
	padding 10px
	transition all ease-in-out 0.8s

.alert.active
	top auto
	bottom 0
	left 20px
	opacity 1

ul.navigation-page-links
	list-style none
	margin 60px 20px 0
	padding 0 0 10px
	border-bottom 1px solid #DDD
	text-align center
	position fixed
	width calc(100% - 40px)

	li
		color #afafae
		padding 0 20px
		display inline
		font-size 18px

		a
			color inherit

		a:hover, a.active
			color #5e7696

@media (max-width 767px)
	.navbar-header
		width calc(100% + 30px)

@media (max-width 1023px)
	#navigation.active
		left 0
		width 100%
		background-color rgba(0,0,0,0.5)

	.alert
		top -100px
		bottom auto
		left 0
		z-index 999
		opacity 0
		width 100%
		border-radius 0
		position fixed
		padding 6px 15px
		margin-bottom 0
		transition all ease-in-out 0.8s

	.alert.active
		top 0
		bottom auto
		left 0
		opacity 1