#notifications
	max-width 100%
	padding 0 0 0 0
	color #555
	font-size 14px
	overflow auto
	margin-top 50px
	height calc(100% - 50px)
	background-color #f1f3fbee
	
	.full-width
		width 100%
	
	.notifications-headers
		position relative
		padding 10px 15px 10px 15px
		line-height 28px
			
		.notifications-head
			text-align center
			width 100%
			display inline-block
			
			.notifications-title
				// border-bottom 2px solid #496df5
				border-collapse collapse
				display inline-block
				font-size 16px
				font-weight bold
				padding 0px 10px
	
	.notifications-body
		display table
		margin auto
		width calc(100% - 350px)
		height calc(100% - 59px)
	
	.animation-loading
		width 100%
		display block
		border-bottom 1px solid #e4e8f1
		padding 10px 0
		
		.animation-background-box
			animation-duration 1s
			animation-fill-mode forwards
			animation-iteration-count infinite
			animation-name placeHolderShimmer
			animation-timing-function linear
			background #454950
			background linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
			background-size 800px 104px
			height 15px
			position relative
			width 200px
			border-radius 0
			
		.circle
			width 10px
			height 10px
			margin 5px 10px 5px 0
			float left
			vertical-align top
			border-radius 50%
			
		.notification-line
			height 10px
			width 300px
			margin 5px 0
			
		.time-stamp
			height 7px
			width 100px
			margin 5px 20px
			
	.notification-circle-line
		display flex
		align-items center
				
	.notifications-details
		width 100%
		overflow auto
		float left
		margin 0 15px
		margin-top 0
		padding 15px
		background-color #fff
		box-shadow 0 2px 2px 2px #ddd
		height 100%
		
		.alert-details-table
			height 100%
			
			.loading
				width calc(100% - 30px)
				
				center
					color #999
					font-size 24px
					margin auto
			
			.notifications-body
				background-color transparent
				border-bottom 1px solid #E4E8F1
				padding 10px 0
				border-collapse collapse
				height 50px
				width 100%
				
				small
					color #999
				
			.border-right
				border-right 1px solid #d6d1d1
				
			.padding-left
				padding-left 20px
			
			.padding-left-flex
				padding-left 50px
			
			.station-details
				width calc(100% - 20px)
				display flex
				
				.icon-circle
					display block
				
				.icon-circle:before
					float none
					vertical-align top
					margin-top 5px
				
				.notification-text
					text-align justify
				
			.notification-details, .notification-threshold
			.width-devide
				width calc(100% / 2)
				
@media (max-width 1023px)
	#notifications
		.notifications-details
			width calc(100% - 30px)
			height calc(100% - 45px)
		
	.blank-space
		display none !important
					
	.notifications-headers
		text-align center !important
		
	.notifications-head
		width 100% !important

@media (max-width 767px)		
	#notifications
		.notifications-details
			.alert-details-table
				.display-type
					display none
					width 100%
					text-align center
					padding-top 15px
					
				.display-type.activate
					display block
					
				.border-right
					border-right 0px solid #d6d1d1
					width 100%
					text-align center
					
				.padding-left-flex
					padding-left 10px
					display inline-block
					width 100%
					text-align center
					
					.width-devide
						width 100%
						padding 5px 0px
						
				.padding-left
					padding-left 0
				
				.open-mark:after
					content "▼"
					font-size 10px
					position absolute
					float right
					right 10px
					top 2px
					padding 0 5px
					cursor pointer
					transition all 0.25s ease-in-out
				
				.open-mark.open:after
					transform rotate(180deg)
					