@import "bootstrap.css"
@import "variables.styl"
@import "loading-spinner.styl"
@import "react-custom-select.styl"
@import "header.styl"
@import "dashboard.styl"
@import "archive.styl"
@import "date-time.styl"
@import "users.styl"
@import "compare.styl"
@import "device-configuration.styl"
@import "debug.styl"
@import "toggle.styl"
@import "device-alert.styl"
@import "aqua-dashboard.styl"
@import "aqua-compare.styl"
@import "city-group-list.styl"
@import "react-select.styl"
@import "users-list.styl"
@import "dmd-list.styl"
@import "group-city-config.styl"
@import "settings.styl"
@import "notifications.styl"
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

*
	font-family: 'PT Sans', sans-serif;

html, body, #react_container, div[data-reactroot], div[data-reactroot] > div, .full-height
	height 100%
	overflow auto

#react_container .full-page-container
	height 100%
	overflow auto
	max-width 1920px
	margin 0 auto

.row
	clear both

a:hover, a:focus, a:active
	text-decoration none

.hellip
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

.loading
	top 0
	width 100%
	height 100%
	display flex
	align-items center
	position absolute
	background-color white

	.loading-spinner
		margin auto

.aqi-scale-title
	width calc(100% - 100px)
	font-size 12px
	margin auto
	
.colored-index, .colored-index-text
	width calc(100% - 100px)
	margin 0 auto 15px
	font-size 11px

	.color-index
		width calc(100%/6)
		height 15px
		display inline-block
	
	.first-index
		text-align left
		width calc(100%/6 - 6px)

	.second-index
		text-align left
		width calc(100%/6 - 4px)

	.third-index
		text-align left

	.fourth-index
		text-align left

	.fifth-index
		text-align left

	.sixth-index
		text-align left
		width calc(100%/6 - 10px)

	.seventh-index
		text-align right
		width calc(100%/6 - 14px)

	.sixth-index-archive
		text-align left
		width calc(100%/6 - 20px)

	.seventh-index-archive
		text-align right
		width calc(100%/6 - 20px)	

	.first-index-text
		display inline-block
		width 50%
		text-align left
		
	.last-index-text
		display inline-block
		width 50%
		text-align right

.colored-index
	margin 0 auto 2px
	
.colored-bar
	width calc(100% - 100px)
	margin 5px auto 0
	height 15px
	
	.color-bar
		width calc(100%/6)
		height 15px
		display inline-block
	
	.color-one
		background-color $color-1
	
	.color-two
		background-color $color-2
	
	.color-three
		background-color $color-3
	
	.color-four
		background-color $color-4
		
	.color-five
		background-color $color-5
	
	.color-six
		background-color $color-6

.flex
	display flex
	align-items center
	
.center
	display table
	margin auto
	
.modal
	display block
	
	.modal-bg
		background-color rgba(255, 255, 255, .75)
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		
	.modal-content
		max-width 600px
		min-height 100px
		margin 10% auto
		border none
			
		.modal-header, .modal-title
			padding 10px
			font-weight bold
			text-align center
			border-bottom 1px solid #E5E5E5
			
			.modal-title
				padding 0
				border none
				color #2673B5
				font-size 16px
				
		.modal-body
			min-height 50px
				
		.modal-footer
			padding 10px
			
.in-btn-loading
	border none
	padding 4px
	float right
	width 80px
	text-align center

.margin-table
	display table
	margin auto

.debug-err-msg
	color #f00
	text-align center
	font-size 20px

.debug-no-data-text
	color #999
	font-size 24px
	padding 110px 0
	text-align center