.onoffswitch
	position relative
	width 55px
	user-select none

.onoffswitch-checkbox
	display none

.onoffswitch-label
	display block
	overflow hidden
	cursor pointer
	border 2px solid #ddd
	border-radius 20px
	margin-bottom 0

.onoffswitch-inner
	display block
	width 200%
	margin-left -100%
	transition margin 0.3s ease-in 0s

.onoffswitch-inner:before, .onoffswitch-inner:after
	display block
	float left
	width 50%
	height 16px
	padding 0
	line-height 16px
	font-size 10px
	color #fff
	font-family Trebuchet, Arial, sans-serif
	font-weight bold
	box-sizing border-box

.onoffswitch-inner:before
	content "ON"
	padding-left 10px
	background-color #2673b5
	color #fff

.onoffswitch-inner:after
	content "OFF"
	padding-right 10px
	background-color #ccc
	color #fff
	text-align right

.onoffswitch-switch
	display block
	width 18px
	height 18px
	margin 1px
	background #fff
	position absolute
	top 0
	bottom 0
	right 35px
	border 1px solid #ddd
	border-radius 50%
	transition all 0.3s ease-in 0s

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
	margin-left 0

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
	right 0px
