.add-user
	margin 70px auto 20px
	display table

.user-cards-container, .master-user-cards-container
	margin 15px
	width calc(100% - 30px)
	display table
	
	.user-card
		width calc(25% - 10px)
		height 120px
		margin 0 10px 10px 0
		padding 10px
		border-radius 5px
		border 1px solid #DDD
		float left
		
		.user-icon
			float left
			width 50px
			height 50px
			padding 3px
			margin-right 10px
			border-radius 50%
			border 2px solid #2673B5
			
			svg
				width 100%
				height 100%
				padding 3px
				border-radius 50%
				background-color #DDD
				
				path
					fill #2673B5
		
		.user-details
			width calc(100% - 70px)
			float left
			
			.name
				font-size 16px
				font-weight bold
				
			small
				display block
			
		.actions, .access
			display inline-table
			width 50%
			
			legend
				margin 5px 0 0
				font-size 14px
				text-align center
				border none
				display none
				
			.action-items, .access-items
				display table
				margin auto
				padding 10px 0 0
				// border-top 1px solid #DDD
				float right
			
				.action-item, .access-item
					width auto
					margin 0 5px
					cursor pointer
					opacity 0.3
					float left
					
					svg
						width 16px
						height 16px
				
				.action-item:hover, .access-item:hover
					opacity 0.6
				
			.access-items
				display none
		
	.user-card:nth-child(4n)
		margin-right 0
		
.user-cards-container
	margin-top 0
	padding 10px 0 0 10px
	border 1px solid #2673B5
	border-radius 5px
	
	.text-center.text-danger:only-child
		margin-bottom 10px
	
.master-user-cards-container
	margin 0 auto
	width calc(25% - 8px)
	
	.user-card
		border-color #2673B5
		margin 0
		width 100%
		height auto
		
		/*.actions, .access
			.action-items, .access-items
				.action-item, .access-item
					svg
						width 18px
						height 18px*/
	
.master-user-cards-container:after
	content ''
	height 100px
	width 1px
	display table
	margin auto
	background-color #2673B5
	
.new-user-form
	.row
		margin 0 0 20px
		
		input:not([type='checkbox']), select
			border none
			outline none
			box-shadow none
			padding 0 5px
			margin-right 15px
			border-bottom 1px solid #DDD
		
		input:last-child, select:last-child
			margin-right 0
		
		.label
			font-size 12px
			color #2673B5
			display block
			text-align left
			padding 0 5px 5px
		
		.name, .role
			width calc((100% - 30px) / 3)
			
		.contact, .profile, .password
			width calc((100% - 15px) / 2)
			
		.flex
			input[type='checkbox']
				margin 0 5px
				
			label
				margin 0 15px 0 0
				font-weight normal
		
	.row:last-child
		margin 0
		
@media (min-width 1440px)
	.user-cards-container
		.user-card
			width calc(20% - 8px)
			margin 0 10px 10px 0
		
		.user-card:nth-child(4n)
			margin-right 10px
		
		.user-card:nth-child(5n)
			margin-right 0
			
	.master-user-cards-container
		width calc(20% - 8px)