#users_settings
	max-width 100%
	// margin-top 50px
	color #555
	font-size 14px
	height calc(100% - 20px)
	// height calc(100% - 50px)
	overflow auto
	max-width 920px
	margin auto
	float none
	padding 0
	margin-top 20px
	
	.user-headers
		margin 0 0 20px
		position relative
		line-height 25px
		box-shadow: 0 1px 1px 1px #ddd
		
		.user-head
			text-align left
			display table
			width 100%
			padding 0
			
			#select_users
				width 150px
				float left

			.user-type
				width 170px
				border-radius 0px
				border 0
				outline none
				display inline-block
				font-size 14px
				padding 0px 10px
				height 30px
				background-color #FFF
				box-shadow inset 0 0px 0px rgba(0, 0, 0, 0.075)
				float left
				
				.pr-selected-items, .pr-placeholder
					color #555
					font-weight bold
					margin-left 0
					
				.pr-options
					background-color #FFF
					width 150px
				
			.user-type.open
				border-color #cccccc
				box-shadow inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, 0.6)
				
		.btn-user:focus, .btn-user:hover
			opacity 1
				
		.btn-user
			outline none
			padding 0 25px
			line-height 20px
			font-size 12px
			border-radius 0
			background-color #2673B5
			opacity 0.9
			height 30px
			border-color #2673B5

	.config-setting-title
		text-align left
		font-size 15px
		display inline-block
		padding 10px 0
		
	.user-details
		width calc(100% - 6px)
		// margin 0 20px
		padding 30px 20px
		background-color #fff
		box-shadow 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
		height 100%
		overflow auto
		display table
		margin auto
		border-radius 4px
		border solid 1px #ddd
		
		.adv-search
			position relative
			display table
			float left
			border-collapse separate
			width calc(100% - 170px)
			margin 0 0 0 15px

			.svg-search
				position absolute
				z-index auto
				top 6px
				left 7px
				height 20px
				width 20px
				
			.search-box-group
				border-radius 0px !important
				box-shadow inset 0 0px 0px rgba(0, 0, 0, 0) !important
				padding-left 35px
				height 30px
				border 0px
				border-bottom 1px solid #ddd
				width 100%
		
		.details
			margin-bottom 10px
			position relative
			
		.table-content
			width 100%
			overflow auto
			height calc(100% - 55px)
						
			.table
				min-width 800px
				
				thead
					background-color #E4E8F1
					border 1px solid #E4E8F1
					border-collapse collapse
					padding 5px 0
					
					tr
						th:first-child
							text-align left
							padding-left 40px
							
						th:nth-child(3)
							max-width 230px
							
						th
							text-align center
							
				tbody
					tr					
						td:first-child
							text-align left
							width 350px
							
						td:nth-child(3)
							max-width 230px
							padding 0 10px
							
						td
							text-align center
							border-bottom 1px solid #ddd
							vertical-align middle
							
							.user-data
								float left
								width calc(100% - 90px)
								margin 15px 0
							
							.user-logo
								background-color #ddd
								border-radius 50%
								width 70px
								text-align center
								font-size 40px
								float left
								margin-right 20px
								line-height 70px
								margin 15px 10px 15px 0
								
							.user-name
								font-weight bold
								
							.user-designation, .user-email, .user-no, .user-reports-to-email
								font-size 13px
								
							.added-on
								font-size 10px
								color #999
								
							.user-active
								font-size 12px
								color #4a4aaf
								
							.user-reports-to
								color #4a4aaf
								
							.three-dots
								cursor pointer
								padding 8px 5px
								display inline-block
								position relative
								
								.dot-one, .dot-two, .dot-three
									height 3px
									width 3px
									margin-bottom 3px
									background-color #000
									display block
									border-radius 50%
									
								.user-edit-menu
									position absolute
									right 15px
									top 8px
									background-color #fff
									display block
									width 130px
									padding 5px 0
									text-align left
									box-shadow 0 1px 4px rgba(0, 0, 0, 0.3)
									cursor default
									// border 1px solid rgba(67, 76, 118, 0.4)
									border-radius 2px
									
								.active-link:first-child
									margin-top 2px
									
								.active-link
									color #4c4c4c
									padding 4px 15px
									font-size 13px
									margin-bottom 2px
									cursor pointer
									display block
									cursor pointer
									text-decoration none
									
								.active-link:hover
									background-color #f5f6f8
									
							.three-dots:hover, .three-dots:focus, .three-dots.active
								.dot-one, .dot-two, .dot-three
									background-color #4a4aaf
					
					.user-full-placeholder
						
						.user-placeholder-details
							display flex					

							.animation-background-box-user
								animation-duration 1s
								animation-fill-mode forwards
								animation-iteration-count infinite
								animation-name placeHolderShimmer
								animation-timing-function linear
								background #454950
								background linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
								background-size 800px 104px
								height 70px
								position relative
								width 70px
							
							.logo
								margin 15px 10px 15px 0
								border-radius 50%
								
							.users-details
								display block
								height 70px
								margin 15px 0
								
								.animation-background-box-user
									animation-duration 1s
									animation-fill-mode forwards
									animation-iteration-count infinite
									animation-name placeHolderShimmer
									animation-timing-function linear
									background #454950
									background linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
									background-size 800px 104px
									height 12px
									position relative
									width 200px
									border-radius 0
									margin 10px 0
									
								.email
									height 10px
									
								.login
									height 8px
							
						.animation-background-box-user
							animation-duration 1s
							animation-fill-mode forwards
							animation-iteration-count infinite
							animation-name placeHolderShimmer
							animation-timing-function linear
							background #454950
							background linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
							background-size 800px 104px
							height 12px
							position relative
							// width 50px
							margin 0 60px
							
						.station
							// width 20px
							
						.reports-to
							// width 30px

	.user-loading
		text-align center
		height auto
		padding 50px
	
	.user-details-section
		/* background-color: #fff; */
		/* box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23); */
		max-width 100%
		position relative
		height calc(100% - 147px)
	
	.no-users-text
		text-align center
		padding 20px
		font-size 25px
		color #ddd
		font-weight bold
		
	.modal
		background-color rgba(0, 0, 0, 0.7)
		display block
		overflow auto
		height 100%
		
		.modal-header
			border-bottom 0px
			padding 0
			
			.close
				margin-top 2px
				outline none
			
			.modal-title
				text-align left
				font-weight bold
				// color #434c76
		
		.modal-dialog
			margin 5% auto
			min-width 640px
			padding 0
			
			.modal-content
				border-radius 3px
				border none
				padding 25px 30px
				margin 0 20px
		
				.modal-body
					display table
					width 100%
					padding 20px 0
					
					.pr-react-select
						background-color transparent
						border-bottom 1px solid #ddd
						margin-bottom 5px
					
					.padding-zero
						padding 0
					
					label
						display inline-block
						max-width 100%
						margin-bottom 0;
						margin-left 0;
						font-weight bold
						font-size 12px
						color #999
						float left
						
					.no-label
						height 17px
						width 100px
						
					.user-text-box:focus
						border-bottom 1px solid #4285F4
						
					.user-text-box
						width 100%
						border 0
						border-bottom 1px solid #ddd
						padding 5px 0
						margin-bottom 10px
						outline none
						transition all cubic-bezier(0.4, 0, 0.2, 1) 0.5s
					
					.margin-top
						margin-top 10px
						
					.label-box
						display inline-flex
						align-items center
						line-height 2
						color #555
						font-size 16px
						font-weight normal
						margin-bottom 5px
						
						.all-check
							margin 0px
							margin-right 10px
							
					.assign-station
						padding 10px 0
						font-size 16px
						font-weight bold
						margin-top 15px
							
				.modal-footer
					text-align right
					border-top 0px
					padding 20px 0 0
					
					.btn-save:focus, .btn-save:hover
						opacity 1
						
					.btn-save
						padding 4px 30px
						border-radius 2px
						outline none
						background-color #1488f5
						opacity 0.9
						border-color #1488f5
						// box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
						
					.btn-cancel:focus, .btn-cancel:hover
						opacity 1
						
					.btn-cancel
						margin-right 30px
						padding 4px 30px
						border-radius 2px
						outline none
						opacity 0.9					
						background-color #e8e8e8
						border 1px solid #e8e8e8
						color #222
			
			.small-modal-content
				width 600px
				display table
				margin auto
				
				.small-modal-body
					padding 30px 0
					
					.delete-user-name
						// text-align center
						font-size 14px
						// font-weight bold

	.title-text
		text-align center
		margin-bottom 20px
		line-height 1.5
		padding-top 20px
		color #727a9f
		margin 0 0 10px
		overflow hidden
		white-space nowrap
		text-overflow ellipsis
		
	/*Style for Tab*/
	.tab-container
		padding 20px 20px 0
		display table
		margin 0 auto 20px
		text-align center
		border-bottom 1px solid #4d5778
		
		.tab-item
			color #5b678a
			font-size 16px
			padding 5px 30px
			display inline-block
			border-bottom 2px solid transparent
		
		.tab-item:hover
			border-bottom 2px solid #dbdbdb
			cursor pointer
		
		.tab-item.active
			font-weight bold
			border-bottom 2px solid #4d5778
			
@media (max-width 1023px)
	#users_settings
		.user-details
			width calc(100% - 30px) !important
			
			.user-headers
				.user-head
					padding 15px 0
					
					#select_users 
						float none !important
					
					.user-type
						display table
						margin auto
						float none
						
					.adv-search
						width calc(100% - 30px) !important
						margin 0 15px 15px
						
					.pull-right
						margin 0 auto
						float none !important
						width 150px
						
				.btn-user
					width 100%
						
			.table-content
				height calc(100% - 140px) !important
		
		.pull-right
			margin 0 15px 0 0
			float right !important	
				
@media (min-width 1024px)
	#users_settings
		.user-details
			.user-headers
				.user-head
					.user-type
						width 150px
						
						.pr-selected-items, .pr-placeholder
							margin-left 10px

	.user-modal-dialog
		width 800px !important
				
@media (min-width 768px) and (max-width 1023px)
	#users_settings
		.user-details
			.user-headers
				.user-head
					.user-type
						float left
						margin-left 15px
						
					.adv-search
						margin 0 15px
						
					.pull-right
						margin 0 15px 0 auto
						
			.table-content
				height calc(100% - 95px) !important