/* Color Variables For AQI */

$color-1 = #00b050
$color-2 = #92d050
$color-3 = #ffff00
$color-4 = #ff9900
$color-5 = #ff0000
$color-6 = #c00000

$aqi-logo-1 = url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'><path fill='#00b848' d='M447.96 153.81c-3.68 53.58-20.69 103.51-47.73 146.46a316.117 316.117 0 0 1-24.54 33.82c-3.64 4.4-7.39 8.67-11.26 12.86-57.92 62.55-140.72 101.7-232.69 101.7-19.22 0-38.01-1.7-56.28-4.97 21.49-78.78 90.96-137.79 175.06-143.71a189.6 189.6 0 0 0-13.95-.51c-83.74 0-155.22 52.55-183.25 126.47v-.82c0-107.78 87.05-195.23 194.66-195.9v-.06c76.22-1.21 145.91-29.37 199.98-75.34z'/><path fill='#ccd4db' d='M314.48 405.5l9.56 43.8c2.25 7.03 5.32 11.72 9.26 14.1 3.94 2.4 9.53 3.6 16.84 3.6h33.25V343.71a318.85 318.85 0 0 1-68.91 61.79zm68.78-219.64c-.67-20.63-3.85-39.74-9.56-57.29-6.46-19.93-16-36.92-28.62-50.93-12.63-14.04-28.2-24.98-46.72-32.83C279.83 36.94 258.64 33 234.79 33c-33.11 0-63.29 5.62-90.5 16.84-27.21 11.24-52.62 28.22-76.19 50.95l13.47 23.99c2.53 3.91 5.62 7.22 9.26 9.87 3.64 2.67 8 4.02 13.05 4.02 6.46 0 12.99-2.32 19.57-6.95 6.59-4.63 14.46-9.83 23.57-15.6 9.11-5.75 19.93-10.94 32.41-15.55 12.48-4.63 27.99-6.97 46.51-6.97 27.51 0 48.41 8.5 62.72 25.49 14.31 16.96 21.47 42.01 21.47 75.14v15.45a313.946 313.946 0 0 0 73.13-23.82z'/></svg>") no-repeat

$aqi-logo-2 = url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'><path fill='#7bd83a' d='M447.96 153.81c-3.68 53.58-20.69 103.51-47.73 146.46a316.117 316.117 0 0 1-24.54 33.82c-3.64 4.4-7.39 8.67-11.26 12.86-57.92 62.55-140.72 101.7-232.69 101.7-19.22 0-38.01-1.7-56.28-4.97 21.49-78.78 90.96-137.79 175.06-143.71a189.6 189.6 0 0 0-13.95-.51c-83.74 0-155.22 52.55-183.25 126.47v-.82c0-107.78 87.05-195.23 194.66-195.9v-.06c76.22-1.21 145.91-29.37 199.98-75.34z'/><path fill='#ccd4db' d='M314.48 405.5l9.56 43.8c2.25 7.03 5.32 11.72 9.26 14.1 3.94 2.4 9.53 3.6 16.84 3.6h33.25V343.71a318.85 318.85 0 0 1-68.91 61.79zm68.78-219.64c-.67-20.63-3.85-39.74-9.56-57.29-6.46-19.93-16-36.92-28.62-50.93-12.63-14.04-28.2-24.98-46.72-32.83C279.83 36.94 258.64 33 234.79 33c-33.11 0-63.29 5.62-90.5 16.84-27.21 11.24-52.62 28.22-76.19 50.95l13.47 23.99c2.53 3.91 5.62 7.22 9.26 9.87 3.64 2.67 8 4.02 13.05 4.02 6.46 0 12.99-2.32 19.57-6.95 6.59-4.63 14.46-9.83 23.57-15.6 9.11-5.75 19.93-10.94 32.41-15.55 12.48-4.63 27.99-6.97 46.51-6.97 27.51 0 48.41 8.5 62.72 25.49 14.31 16.96 21.47 42.01 21.47 75.14v15.45a313.946 313.946 0 0 0 73.13-23.82z'/></svg>") no-repeat

$aqi-logo-3 = url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'><path fill='#fbff00' d='M447.96 153.81c-3.68 53.58-20.69 103.51-47.73 146.46a316.117 316.117 0 0 1-24.54 33.82c-3.64 4.4-7.39 8.67-11.26 12.86-57.92 62.55-140.72 101.7-232.69 101.7-19.22 0-38.01-1.7-56.28-4.97 21.49-78.78 90.96-137.79 175.06-143.71a189.6 189.6 0 0 0-13.95-.51c-83.74 0-155.22 52.55-183.25 126.47v-.82c0-107.78 87.05-195.23 194.66-195.9v-.06c76.22-1.21 145.91-29.37 199.98-75.34z'/><path fill='#ccd4db' d='M314.48 405.5l9.56 43.8c2.25 7.03 5.32 11.72 9.26 14.1 3.94 2.4 9.53 3.6 16.84 3.6h33.25V343.71a318.85 318.85 0 0 1-68.91 61.79zm68.78-219.64c-.67-20.63-3.85-39.74-9.56-57.29-6.46-19.93-16-36.92-28.62-50.93-12.63-14.04-28.2-24.98-46.72-32.83C279.83 36.94 258.64 33 234.79 33c-33.11 0-63.29 5.62-90.5 16.84-27.21 11.24-52.62 28.22-76.19 50.95l13.47 23.99c2.53 3.91 5.62 7.22 9.26 9.87 3.64 2.67 8 4.02 13.05 4.02 6.46 0 12.99-2.32 19.57-6.95 6.59-4.63 14.46-9.83 23.57-15.6 9.11-5.75 19.93-10.94 32.41-15.55 12.48-4.63 27.99-6.97 46.51-6.97 27.51 0 48.41 8.5 62.72 25.49 14.31 16.96 21.47 42.01 21.47 75.14v15.45a313.946 313.946 0 0 0 73.13-23.82z'/></svg>") no-repeat

$aqi-logo-4 = url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'><path fill='#ff9600' d='M447.96 153.81c-3.68 53.58-20.69 103.51-47.73 146.46a316.117 316.117 0 0 1-24.54 33.82c-3.64 4.4-7.39 8.67-11.26 12.86-57.92 62.55-140.72 101.7-232.69 101.7-19.22 0-38.01-1.7-56.28-4.97 21.49-78.78 90.96-137.79 175.06-143.71a189.6 189.6 0 0 0-13.95-.51c-83.74 0-155.22 52.55-183.25 126.47v-.82c0-107.78 87.05-195.23 194.66-195.9v-.06c76.22-1.21 145.91-29.37 199.98-75.34z'/><path fill='#ccd4db' d='M314.48 405.5l9.56 43.8c2.25 7.03 5.32 11.72 9.26 14.1 3.94 2.4 9.53 3.6 16.84 3.6h33.25V343.71a318.85 318.85 0 0 1-68.91 61.79zm68.78-219.64c-.67-20.63-3.85-39.74-9.56-57.29-6.46-19.93-16-36.92-28.62-50.93-12.63-14.04-28.2-24.98-46.72-32.83C279.83 36.94 258.64 33 234.79 33c-33.11 0-63.29 5.62-90.5 16.84-27.21 11.24-52.62 28.22-76.19 50.95l13.47 23.99c2.53 3.91 5.62 7.22 9.26 9.87 3.64 2.67 8 4.02 13.05 4.02 6.46 0 12.99-2.32 19.57-6.95 6.59-4.63 14.46-9.83 23.57-15.6 9.11-5.75 19.93-10.94 32.41-15.55 12.48-4.63 27.99-6.97 46.51-6.97 27.51 0 48.41 8.5 62.72 25.49 14.31 16.96 21.47 42.01 21.47 75.14v15.45a313.946 313.946 0 0 0 73.13-23.82z'/></svg>") no-repeat

$aqi-logo-5 = url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'><path fill='#fa0307' d='M447.96 153.81c-3.68 53.58-20.69 103.51-47.73 146.46a316.117 316.117 0 0 1-24.54 33.82c-3.64 4.4-7.39 8.67-11.26 12.86-57.92 62.55-140.72 101.7-232.69 101.7-19.22 0-38.01-1.7-56.28-4.97 21.49-78.78 90.96-137.79 175.06-143.71a189.6 189.6 0 0 0-13.95-.51c-83.74 0-155.22 52.55-183.25 126.47v-.82c0-107.78 87.05-195.23 194.66-195.9v-.06c76.22-1.21 145.91-29.37 199.98-75.34z'/><path fill='#ccd4db' d='M314.48 405.5l9.56 43.8c2.25 7.03 5.32 11.72 9.26 14.1 3.94 2.4 9.53 3.6 16.84 3.6h33.25V343.71a318.85 318.85 0 0 1-68.91 61.79zm68.78-219.64c-.67-20.63-3.85-39.74-9.56-57.29-6.46-19.93-16-36.92-28.62-50.93-12.63-14.04-28.2-24.98-46.72-32.83C279.83 36.94 258.64 33 234.79 33c-33.11 0-63.29 5.62-90.5 16.84-27.21 11.24-52.62 28.22-76.19 50.95l13.47 23.99c2.53 3.91 5.62 7.22 9.26 9.87 3.64 2.67 8 4.02 13.05 4.02 6.46 0 12.99-2.32 19.57-6.95 6.59-4.63 14.46-9.83 23.57-15.6 9.11-5.75 19.93-10.94 32.41-15.55 12.48-4.63 27.99-6.97 46.51-6.97 27.51 0 48.41 8.5 62.72 25.49 14.31 16.96 21.47 42.01 21.47 75.14v15.45a313.946 313.946 0 0 0 73.13-23.82z'/></svg>") no-repeat

$aqi-logo-6 = url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'><path fill='#d00000' d='M447.96 153.81c-3.68 53.58-20.69 103.51-47.73 146.46a316.117 316.117 0 0 1-24.54 33.82c-3.64 4.4-7.39 8.67-11.26 12.86-57.92 62.55-140.72 101.7-232.69 101.7-19.22 0-38.01-1.7-56.28-4.97 21.49-78.78 90.96-137.79 175.06-143.71a189.6 189.6 0 0 0-13.95-.51c-83.74 0-155.22 52.55-183.25 126.47v-.82c0-107.78 87.05-195.23 194.66-195.9v-.06c76.22-1.21 145.91-29.37 199.98-75.34z'/><path fill='#ccd4db' d='M314.48 405.5l9.56 43.8c2.25 7.03 5.32 11.72 9.26 14.1 3.94 2.4 9.53 3.6 16.84 3.6h33.25V343.71a318.85 318.85 0 0 1-68.91 61.79zm68.78-219.64c-.67-20.63-3.85-39.74-9.56-57.29-6.46-19.93-16-36.92-28.62-50.93-12.63-14.04-28.2-24.98-46.72-32.83C279.83 36.94 258.64 33 234.79 33c-33.11 0-63.29 5.62-90.5 16.84-27.21 11.24-52.62 28.22-76.19 50.95l13.47 23.99c2.53 3.91 5.62 7.22 9.26 9.87 3.64 2.67 8 4.02 13.05 4.02 6.46 0 12.99-2.32 19.57-6.95 6.59-4.63 14.46-9.83 23.57-15.6 9.11-5.75 19.93-10.94 32.41-15.55 12.48-4.63 27.99-6.97 46.51-6.97 27.51 0 48.41 8.5 62.72 25.49 14.31 16.96 21.47 42.01 21.47 75.14v15.45a313.946 313.946 0 0 0 73.13-23.82z'/></svg>") no-repeat

